<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<link rel="stylesheet" type="text/css" href="__CSS__/default.css">
<link rel="stylesheet" type="text/css" href="__CSS__/frontforms.css">
<style>
.about .aboutwrap_l {width:100%}
.article-info {width:765px}
.enquiry_bottom {font-size:15px; line-height:20px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_lianluowomen}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutBanner"><img src="{:SITE_PATH}{$banner}" /></div>
      <div class="aboutwrap_l_menu br_acacac fl">
        <ul>
          <li><a href="{:U('Page/contact', array('lang'=>$lang))}" class="current">{$text_lianluowomen}</a></li>
        </ul>
      </div>
      <div class="aboutwrap_l_txt fl">
        {$content|html_entity_decode=###}
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>

<script>
$(function() {
	$('input[type="reset"]').click(function(){
	  $('input[type="text"]').val('');
	  $('input[type="radio"]').removeAttr('checked');
	  $('textarea').html('');
	});
});

function check_form(required){
  var reqarr=required.split('|');
  var flag=true;
  var i;
  for(i=0;i<reqarr.length;i++){
    if($('#'+reqarr[i]).val()==''){
      flag=false;
      alert('{$text_required}');
      return false;
    }
  }
  if(flag){
    alert('{$text_fasongchenggong}');
    return true;
  }
}
</script>

<include file="Common:footer" />