<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:651px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_hezuohuoban}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
<?PHP if('zh'==$lang) { ?>
「創富易」重視合作精神，深明「合作夥伴」是公司的重要資源，我們目前公司的運作與及未來的發展，都有賴於今天的合作夥伴全力協助。<br><br>我們公司的管理概念是以工作的靈活性及發揮團結一致Team Work團隊精神為依歸。同時，我們深信只有優秀的「專業團隊」，方可滿足客戶需要。「專業團隊」除我們所聘用之員工外，更包括我們的「合作夥伴」。<br><br>如貴公司跟我們公司有共同使命，願意協助我們提供親切、專業和高效率的「業務轉讓」服務，致力推廣「業務轉讓」創業模式，提倡「創富做老闆」理念。我們誠意邀請貴公司跟我們合作建立策略性聯盟，成為我們專業團隊的一份子，共享公司成果，達致「雙嬴局面」。<br><br>有興趣公司請將電郵至<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy48330 = 'c&#101;&#111;' + '&#64;';
 addy48330 = addy48330 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text48330 = 'c&#101;&#111;' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy48330 + '\'>');
 document.write(addy_text48330);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:ceo@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>。貴公司所提供的資料將會嚴格按照本公司之資料保密政策處理。<br><br/><br/>
<h3>會員專享優惠</h3>
<ul>
<li>會員優惠價參加由本會舉辦或跟其他機構合作聯辦之活動</li>
<li>會員優先預留創業講座門票</li>
<li>定期獲取最新創業市場及創富資訊</li>
<li>於指定商號享用購物優惠</li>
</ul>
<?PHP } else { ?>
「创富杨」重视合做精神，深明「合做伙伴」是公司的重要资源，我们木前公司的运做与及抹来的泼展，都有赖於今天的合做伙伴全力协助。<br><br>我们公司的管理概念是似工做的灵活性及泼挥团结一至Team Work团队精神為依归。同时，我们深信只有优秀的「专业团队」，坊可瞒促客户儒要。「专业团队」除我们所聘用之园工外，更包括我们的「合做伙伴」。<br><br>如贵公司跟我们公司有拱同使命，愿意协助我们堤供亲切、专业和高效率的「业务转让」服务，至力推广「业务转让」创业摸式，堤倡「创富做老板」理念。我们诚意邀请贵公司跟我们合做建立策略性联盟，成為我们专业团队的一纷子，拱享公司成果，达至「双嬴局面」。<br><br>有兴趣公司请将电邮至<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy75446 = 'c&#101;&#111;' + '&#64;';
 addy75446 = addy75446 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text75446 = 'c&#101;&#111;' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy75446 + '\'>');
 document.write(addy_text75446);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:ceo@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">该Email地址已收到反垃圾邮件插件保护。要显示它您需要在浏览器中启用JavaScript。
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>。贵公司所堤供的资料将会严咯按照本公司之资料保蜜政策处理。<br><br/><br/>
<h3>会园专享优惠</h3>
<ul>
<li>会园优惠价参咖由本会举办或跟其他机构合做联办之活动</li>
<li>会园优先预留创业讲座门票</li>
<li>定期获取最新创业市场及创富资汛</li>
<li>於指定商号享用构物优惠</li>
</ul>
<?PHP } ?>
</div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />