<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:651px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">合作夥伴</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
「創富易」重視合作精神，深明「合作夥伴」是公司的重要資源，我們目前公司的運作與及未來的發展，都有賴於今天的合作夥伴全力協助。<br><br>我們公司的管理概念是以工作的靈活性及發揮團結一致Team Work團隊精神為依歸。同時，我們深信只有優秀的「專業團隊」，方可滿足客戶需要。「專業團隊」除我們所聘用之員工外，更包括我們的「合作夥伴」。<br><br>如貴公司跟我們公司有共同使命，願意協助我們提供親切、專業和高效率的「業務轉讓」服務，致力推廣「業務轉讓」創業模式，提倡「創富做老闆」理念。我們誠意邀請貴公司跟我們合作建立策略性聯盟，成為我們專業團隊的一份子，共享公司成果，達致「雙嬴局面」。<br><br>有興趣公司請將電郵至<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy48330 = 'c&#101;&#111;' + '&#64;';
 addy48330 = addy48330 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text48330 = 'c&#101;&#111;' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy48330 + '\'>');
 document.write(addy_text48330);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:ceo@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">This email address is being protected from spambots. You need JavaScript enabled to view it.
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>。貴公司所提供的資料將會嚴格按照本公司之資料保密政策處理。<br><br/><br/>
<h3>會員專享優惠</h3>
<ul>
<li>會員優惠價參加由本會舉辦或跟其他機構合作聯辦之活動</li>
<li>會員優先預留創業講座門票</li>
<li>定期獲取最新創業市場及創富資訊</li>
<li>於指定商號享用購物優惠</li>
</ul>
</div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />