<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:231px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_banquanshengming}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
								<em>©版權2005-2015<span class="highLight02">創富易業務轉讓有限公司</span>本公司保留一切版權。版權所有不得轉載。</em><br><br>本網頁之內容版權均屬創富易業務轉讓有限公司所有。本網站所載資料均受知識產權法例及權利（包括但不限於保護版權的法例）所保障。任何人士如未經創富易業務轉讓有限公司書面授權而擅自下載、複製、傳輸、出版、運用、儲存或以其他方式使用或處理本網站所載的資料、資訊、版面設計或部份版面設計，可能構成侵犯行為，責任由有關人士自負。所有與本網站之連結必須事先得到創富易業務轉讓有限公司的書面同意。本網站所提及的或獲得創富易業務轉讓有限公司同意，透過連結方式經本網站進入的任何第三者網站，該第三者網站內容的版權為有關網站擁有者所擁有，閣下欲使用或複印該等網站之內容時，應諮詢有關網站擁有者。
	
						 </div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />