<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:431px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_mianzetiaokuan}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
本網頁提供之資訊，只供參考。本網站所包含之資料，包括文章、圖像、連結或其他項目是依其「現況」或「可利用之狀況」提供，本公司上述資料之正確性、充足性或完整性不予保証，且明示否認對該資料內之錯誤或遺漏負任何賠償責任。關於上述資料並不提供任何種類之保証、明示或法定保証，包括但不限於不侵犯第三人權利、所有權、可商售性、對某特定用途的適用性以及無電腦病毒等保証。<br><br>在法律許可下，創富易業務轉讓有限公司卸棄一切因使用或依賴本網頁所提供的資料而引致的任何直接、間接、附帶、特別或相應而生的損失、損害賠償、費用、申索或要求的所有責任。如有任何人因本網頁提供之資訊而導致有任何捐失，本公司並不會付上任何法律責任。<br><br>使用者明白並同意使用者應自行判斷應否使用或倚賴該等資料並應自負風險，同時使用者應在任何交易作出決定前應從其他獨立資源核實該等資料並應尋求獨立意見。<br><br>使用者須確認及接納任何由於使用或瀏覽本網頁下載或向本網頁下載或提取的資料自承風險。使用者須獨自承擔因於本網頁下載任何資料而導致任何對使用者電腦系統的破壞或資料的流失所帶來的損失。</div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />