<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:431px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_mianzetiaokuan}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<?PHP if('zh'==$lang) { ?>
<div class="article-info">
本網頁提供之資訊，只供參考。本網站所包含之資料，包括文章、圖像、連結或其他項目是依其「現況」或「可利用之狀況」提供，本公司上述資料之正確性、充足性或完整性不予保証，且明示否認對該資料內之錯誤或遺漏負任何賠償責任。關於上述資料並不提供任何種類之保証、明示或法定保証，包括但不限於不侵犯第三人權利、所有權、可商售性、對某特定用途的適用性以及無電腦病毒等保証。<br><br>在法律許可下，創富易業務轉讓有限公司卸棄一切因使用或依賴本網頁所提供的資料而引致的任何直接、間接、附帶、特別或相應而生的損失、損害賠償、費用、申索或要求的所有責任。如有任何人因本網頁提供之資訊而導致有任何捐失，本公司並不會付上任何法律責任。<br><br>使用者明白並同意使用者應自行判斷應否使用或倚賴該等資料並應自負風險，同時使用者應在任何交易作出決定前應從其他獨立資源核實該等資料並應尋求獨立意見。<br><br>使用者須確認及接納任何由於使用或瀏覽本網頁下載或向本網頁下載或提取的資料自承風險。使用者須獨自承擔因於本網頁下載任何資料而導致任何對使用者電腦系統的破壞或資料的流失所帶來的損失。</div>
<?PHP } else if('cn'==$lang) { ?>
<div class="article-info">
本网页提供之信息，只供参考。本网站所包含之数据，包括文章、图像、链接或其他项目是依其「现况」或「可利用之状况」提供，本公司上述数据之正确性、充足性或完整性不予保证，且明示否认对该数据内之错误或遗漏负任何赔偿责任。关于上述数据并不提供任何种类之保证、明示或法定保证，包括但不限于不侵犯第三人权利、所有权、可商售性、对某特定用途的适用性以及无计算机病毒等保证。<br><br>在法律许可下，创富易业务转让有限公司卸弃一切因使用或依赖本网页所提供的数据而引致的任何直接、间接、附带、特别或相应而生的损失、损害赔偿、费用、申索或要求的所有责任。如有任何人因本网页提供之信息而导致有任何捐失，本公司并不会付上任何法律责任。<br><br>用户明白并同意用户应自行判断应否使用或倚赖该等数据并应自负风险，同时用户应在任何交易作出决定前应从其他独立资源核实该等数据并应寻求独立意见。<br><br>用户须确认及接纳任何由于使用或浏览本网页下载或向本网页下载或提取的数据自承风险。用户须独自承担因于本网页下载任何数据而导致任何对用户计算机系统的破坏或数据的流失所带来的损失。</div>
<?PHP } else { ?>
<div class="article-info">
本網頁提供之資訊，只供參考。本網站所包含之資料，包括文章、圖像、連結或其他項目是依其「現況」或「可利用之狀況」提供，本公司上述資料之正確性、充足性或完整性不予保証，且明示否認對該資料內之錯誤或遺漏負任何賠償責任。關於上述資料並不提供任何種類之保証、明示或法定保証，包括但不限於不侵犯第三人權利、所有權、可商售性、對某特定用途的適用性以及無電腦病毒等保証。<br><br>在法律許可下，創富易業務轉讓有限公司卸棄一切因使用或依賴本網頁所提供的資料而引致的任何直接、間接、附帶、特別或相應而生的損失、損害賠償、費用、申索或要求的所有責任。如有任何人因本網頁提供之資訊而導致有任何捐失，本公司並不會付上任何法律責任。<br><br>使用者明白並同意使用者應自行判斷應否使用或倚賴該等資料並應自負風險，同時使用者應在任何交易作出決定前應從其他獨立資源核實該等資料並應尋求獨立意見。<br><br>使用者須確認及接納任何由於使用或瀏覽本網頁下載或向本網頁下載或提取的資料自承風險。使用者須獨自承擔因於本網頁下載任何資料而導致任何對使用者電腦系統的破壞或資料的流失所帶來的損失。</div>
<?PHP } ?>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />