<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:651px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_chuangfuhui}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
<?PHP if('zh'==$lang) { ?>
<h3>簡介</h3>
「創富會」由創富易業務轉讓有限公司創立，誠意為有志創業人士及投資者，提供交流的機會，實現「創富做老闆」。<br>
<h3>目標</h3>
我們的目標是要凝聚更多積極有志創業人士，透過舉辦不同形式之創業講座及其他相關活動，提供多方面最新的創業資訊和知識。同時，讓志趣相投有志創業人士分享創業心得，彼此間互相了解，建立及加強人際網絡，甚至彼此建立合作伙伴關係，令有志創業人士不再是「孤身上路」，從而提升創業信心。共同創造大家所期望的願景-「創富做老闆」。<br>
<h3>任務及使命</h3>
我們致力匯聚成功創業人士的經驗及才智，為香港創立一個「創富會」，並透過與政府及其他團體合作，推廣創業精神，提倡「創富做老闆」理念，協助創業人士面對創業困難和提供專業意見，務求令各會員成功「創富做老闆」。並冀望於5年內，推動香港成為全球領先的「創富做老闆」之都。<br>
<h3>創富會活動</h3>
定期舉辦創業講座及其他相關活動，促進會員聯繫，增進研討機會。 <br><br>
<?PHP } else { ?>
<h3>简介</h3>
「创富会」由创富易业务转让有限公司创立，诚意为有志创业人士及投资者，提供交流的机会，实现「创富做老板」。<br>
<h3>目标</h3>
我们的目标是要凝聚更多积极有志创业人士，透过举办不同形式之创业讲座及其他相关活动，提供多方面最新的创业资讯和知识。同时，让志趣相投有志创业人士分享创业心得，彼此间互相了解，建立及加强人际网络，甚至彼此建立合作伙伴关系，令有志创业人士不再是「孤身上路」，从而提升创业信心。共同创造大家所期望的愿景-「创富做老板」。<br>
<h3>任务及使命</h3>
我们致力汇聚成功创业人士的经验及才智，為香港创立一个「创富会」，并透过与政府及其他团体合作，推广创业精神，提倡「创富做老板」理念，协助创业人士面对创业困难和提供专业意见，务求令各会员成功「创富做老板」。并期望于5年内，推动香港成為全球领先的「创富做老板」之都。<br>
<h3>创富会活动</h3>
定期举办创业讲座及其他相关活动，促进会员联系，增进研讨机会。 <br><br>
<?PHP } ?>
<p class="join_"><a href="{:U('Page/join_form', array('lang'=>$lang))}"><img src="{:SITE_PATH}Public/zh/images/join.jpg" alt=""></a></p>
</div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />