<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:651px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">創富會</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
<h3>簡介</h3>
「創富會」由創富易業務轉讓有限公司創立，誠意為有志創業人士及投資者，提供交流的機會，實現「創富做老闆」。<br>
<h3>目標</h3>
我們的目標是要凝聚更多積極有志創業人士，透過舉辦不同形式之創業講座及其他相關活動，提供多方面最新的創業資訊和知識。同時，讓志趣相投有志創業人士分享創業心得，彼此間互相了解，建立及加強人際網絡，甚至彼此建立合作伙伴關係，令有志創業人士不再是「孤身上路」，從而提升創業信心。共同創造大家所期望的願景-「創富做老闆」。<br>
<h3>任務及使命</h3>
我們致力匯聚成功創業人士的經驗及才智，為香港創立一個「創富會」，並透過與政府及其他團體合作，推廣創業精神，提倡「創富做老闆」理念，協助創業人士面對創業困難和提供專業意見，務求令各會員成功「創富做老闆」。並冀望於5年內，推動香港成為全球領先的「創富做老闆」之都。<br>
<h3>創富會活動</h3>
定期舉辦創業講座及其他相關活動，促進會員聯繫，增進研討機會。 <br><br>
<p class="join_"><a href="{:U('Page/join_form', array('lang'=>$lang))}"><img src="{:SITE_PATH}Public/zh/images/join.jpg" alt=""></a></p>
</div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />