<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.about .aboutwrap_l {width:100%}
.article-info {width:765px}
.article-info h3 {height:auto}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_chuangfuxuzhi}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutBanner"><img src="{:SITE_PATH}{$banner}" /></div>
      <div class="aboutwrap_l_menu br_acacac fl">
        <ul>
          <li><a href="{:U('Page/noticeUs1', array('lang'=>$lang))}">{$text_chuangfuzuolaoban}</a></li>
          <li><a href="{:U('Page/noticeUs2', array('lang'=>$lang))}">{$text_chuangfumoshi}</a></li>
          <li><a href="{:U('Page/noticeUs3', array('lang'=>$lang))}">{$text_heweiyewuzhuanrang}</a></li>
          <li><a href="{:U('Page/noticeUs4', array('lang'=>$lang))}">{$text_weihexuanzeyewuzhuanrang}</a></li>
          <li><a href="{:U('Page/noticeUs5', array('lang'=>$lang))}" class="current">{$text_changjianwenti}</a></li>
        </ul>
      </div>
      <div class="aboutwrap_l_txt fl">
        {$content|html_entity_decode=###}
      </div>
    </div>
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />