<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
ol {list-style:disc}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">營商須知</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutBanner"><img src="{:SITE_PATH}{$banner}" /></div>
      <div class="aboutwrap_l_menu br_acacac fl">
        <ul>
          <li><a href="{:U('Page/noticeSale1', array('lang'=>$lang))}">開業資料庫</a></li>
          <li><a href="{:U('Page/noticeSale2', array('lang'=>$lang))}" class="current">營業資料庫</a></li>
        </ul>
      </div>
      <div class="aboutwrap_l_txt fl">
        {$content|html_entity_decode=###}
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />