<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<!------------------------關于我們主體部分------------------------>
<div id="wrapIndex" class="about">
  <div class="aboutTitle">關于我們</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutBanner"><img src="{:SITE_PATH}{$banner}" /></div>
      <div class="aboutwrap_l_menu br_acacac fl">
        <ul>
          <li><a href="{:U('about', array('lang'=>$lang))}">公司簡介</a></li>
          <li><a href="{:U('our_values', array('lang'=>$lang))}" class="current">我們的價值觀</a></li>
          <li><a href="{:U('services', array('lang'=>$lang))}">服務範圍</a></li>
        </ul>
      </div>
      <div class="aboutwrap_l_txt fl">
        {$content|html_entity_decode=###}
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />