<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:651px}
.article-info h4:first-child~h4 {margin-top:30px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_gerensiyinzhengce}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
<h4>個人私隱政策</h4>
多謝閣下到訪瀏覽本網站 BuyBusiness.com.hk。<br><br>創富易業務轉讓有限公司(Buy Business Ltd.)承諾將根據第486章香港特別行政區法例《個人資料(私隱)條例》之規定方面，會完全符合個人資料保障水平。為此，我們將確保我們之職員嚴格遵守依從保安及保密最嚴格之規定。因此，本公司十分重視對網頁使用者私隱的保護，使閣下可安心瀏覽本公司網頁。<br><br>本私隱政策聲明旨在解釋，本公司將會從閣下收集甚麼資料，這些資料將會作何種用途，以及本公司的有關保安政策。<br>
<h4>個人資料的收集及使用</h4>
<br>當任何人仕到訪及瀏覽我們的網址時，本公司不會收集閣下的個人資料，而閣下亦無須通過登記來取得本公司網站的任何資訊。<br><br>不過，我們會因應客戶要求提供之服務或查詢，可能會要求閣下按自願原則提供某些個人資料，包括閣下的姓名、聯絡電話、住址、電郵地址及傳真號碼等。在收集資料時，我們會將收集資料的目的及用途告知客戶。此外，有關對個人資料的查詢和更改的權利，均會清楚向客戶闡明。拒絕提供個人資料，可能導致創富易業務轉讓有限公司不能處理閣下的有關要求。<br><br>當個人資料被收集後，只有被授權之員工能夠查閱，而在未取得客戶同意前或除法律要求外，所有資料均不會透露予任何外間機構。本公司將會不斷地督促屬下員工，以確保客戶的私隱被尊重和保障。<br><br>本公司可能不時透過使用閣下所提供的個人資料，向閣下寄遞有關本公司服務的推廣資料。若閣下不想收到這些推廣資料，可發送電郵至<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy46976 = 'Inf&#111;' + '&#64;';
 addy46976 = addy46976 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text46976 = 'Inf&#111;' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy46976 + '\'>');
 document.write(addy_text46976);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:Info@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">Email住址會使用灌水程式保護機制。你需要啟動Javascript才能觀看它
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>通知我們中止。<br><br>當閣下以電子郵件向本公司作出查詢、投訴或回應時，我們會記錄閣下的個人資料，以便採取適當回應或作日後跟進。</div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />