<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:651px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">精英招聘</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
「創富易」重視人才。深明人才是公司重要的資產，我們目前公司的運作與及未來的發展，都掌握於今天的人才手中。<br>我們公司的管理概念是以工作的靈活性及發揮團結一致Team Work團隊精神為依歸。同時，深信只有優秀的專業隊伍，方可滿足客戶需要。我們所聘用之員工均為業內富經驗人仕，配合在職專業培訓，讓每位員工都能竭盡所能全情投入，盡情發揮個人潛能。我們並會因應工作表現而作出嘉許，共享公司成果。<br><br>我們目前在香港建立了「業務轉讓」根基，並積極籌劃拓展未來國際「業務轉讓」業務，以發展成區內舉足輕重之「業務轉讓」機構。<br><br>現設以下職位空缺，歡迎具幹勁之專才攜手達至業務目標。有興趣人士請將個人履歷電郵至<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy50621 = 'hr' + '&#64;';
 addy50621 = addy50621 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text50621 = 'hr' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy50621 + '\'>');
 document.write(addy_text50621);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:hr@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">Email住址會使用灌水程式保護機制。你需要啟動Javascript才能觀看它
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span><br><br><br><em>申請人提供的個人資料將會嚴格按照本公司之個人資料政策處理。</em><br>
<h4>個人資料（私隱）條例聲明</h4>
本公司一貫奉行保障客戶隱私的政策，並以此為首要工作。本公司將嚴格遵守香港特別行政區頒佈之個人資料（私隱）條例。<br>
<h4>目的</h4>
<br>應徵者提供的資料將只用於各項僱傭行政程序，包括招聘、甄選、聘用期間、終止聘用及與法律相關工作。除上述原因外，此等資料不會被保存作其他用途。<br>
<h4>個人資料的轉移及保留</h4>
本公司會將個人資料保密儲存，只有獲授權之員工方可查閱，而在未取得有關應徵者同意前，所有資料均不會向任何第三者透露。所有未獲聘請的應徵者資料將會在遞交申請後六個月銷毀。<br>
<h4>查閱及修改個人資料</h4>
作為資料的所屬者，您有權向本公司要求查閱及修改關於您的資料。您可透過電郵<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy62116 = 'hr' + '&#64;';
 addy62116 = addy62116 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text62116 = 'hr' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy62116 + '\'>');
 document.write(addy_text62116);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:hr@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">Email住址會使用灌水程式保護機制。你需要啟動Javascript才能觀看它
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>以書面方式提出。
 </div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />