<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.article-info {width:765px;min-height:651px}
</style>
<!------------------------主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_jingyingzhaopin}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutwrap_l_txt fl">
<div class="article-info">
<?PHP if('zh'==$lang) { ?>
「創富易」重視人才。深明人才是公司重要的資產，我們目前公司的運作與及未來的發展，都掌握於今天的人才手中。<br>我們公司的管理概念是以工作的靈活性及發揮團結一致Team Work團隊精神為依歸。同時，深信只有優秀的專業隊伍，方可滿足客戶需要。我們所聘用之員工均為業內富經驗人仕，配合在職專業培訓，讓每位員工都能竭盡所能全情投入，盡情發揮個人潛能。我們並會因應工作表現而作出嘉許，共享公司成果。<br><br>我們目前在香港建立了「業務轉讓」根基，並積極籌劃拓展未來國際「業務轉讓」業務，以發展成區內舉足輕重之「業務轉讓」機構。<br><br>現設以下職位空缺，歡迎具幹勁之專才攜手達至業務目標。有興趣人士請將個人履歷電郵至<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy50621 = 'hr' + '&#64;';
 addy50621 = addy50621 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text50621 = 'hr' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy50621 + '\'>');
 document.write(addy_text50621);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:hr@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">Email住址會使用灌水程式保護機制。你需要啟動Javascript才能觀看它
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span><br><br><br><em>申請人提供的個人資料將會嚴格按照本公司之個人資料政策處理。</em><br>
<h4>個人資料（私隱）條例聲明</h4>
本公司一貫奉行保障客戶隱私的政策，並以此為首要工作。本公司將嚴格遵守香港特別行政區頒佈之個人資料（私隱）條例。<br>
<h4>目的</h4>
<br>應徵者提供的資料將只用於各項僱傭行政程序，包括招聘、甄選、聘用期間、終止聘用及與法律相關工作。除上述原因外，此等資料不會被保存作其他用途。<br>
<h4>個人資料的轉移及保留</h4>
本公司會將個人資料保密儲存，只有獲授權之員工方可查閱，而在未取得有關應徵者同意前，所有資料均不會向任何第三者透露。所有未獲聘請的應徵者資料將會在遞交申請後六個月銷毀。<br>
<h4>查閱及修改個人資料</h4>
作為資料的所屬者，您有權向本公司要求查閱及修改關於您的資料。您可透過電郵<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy62116 = 'hr' + '&#64;';
 addy62116 = addy62116 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text62116 = 'hr' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy62116 + '\'>');
 document.write(addy_text62116);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:hr@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">Email住址會使用灌水程式保護機制。你需要啟動Javascript才能觀看它
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>以書面方式提出。
<?PHP } else { ?>
「创富易」重视人才。深明人才是公司重要的资產，我们目前公司的运作与及未来的发展，都掌握於今天的人才手中。<br>我们公司的管理概念是以工作的灵活性及发挥团结一致Team Work团队精神为依归。同时，深信只有优秀的专业队伍，方可满足客户需要。我们所聘用之员工均为业内富经验人仕，配合在职专业培训，让每位员工都能竭尽所能全情投入，尽情发挥个人潜能。我们并会因应工作表现而作出嘉许，共享公司成果。<br><br>我们目前在香港建立了「业务转让」根基，并积极筹划拓展未来国际「业务转让」业务，以发展成区内举足轻重之「业务转让」机构。<br><br>现设以下职位空缺，欢迎具干劲之专才携手达至业务目标。有兴趣人士请将个人履歷电邮至<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy75978 = 'hr' + '&#64;';
 addy75978 = addy75978 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text75978 = 'hr' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy75978 + '\'>');
 document.write(addy_text75978);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:hr@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">该Email地址已收到反垃圾邮件插件保护。要显示它您需要在浏览器中启用JavaScript。
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span><br><br><br><em>申请人提供的个人资料将会严格按照本公司之个人资料政策处理。</em><br>
<h4>个人资料（私隐）条例声明</h4>
本公司一贯奉行保障客户隐私的政策，并以此为首要工作。本公司将严格遵守香港特别行政区颁佈之个人资料（私隐）条例。<br>
<h4>目的</h4>
<br>应徵者提供的资料将只用於各项僱佣行政程序，包括招聘、甄选、聘用期间、终止聘用及与法律相关工作。除上述原因外，此等资料不会被保存作其他用途。<br>
<h4>个人资料的转移及保留</h4>
本公司会将个人资料保密储存，只有获授权之员工方可查阅，而在未取得有关应徵者同意前，所有资料均不会向任何第三者透露。所有未获聘请的应徵者资料将会在递交申请后六个月销毁。<br>
<h4>查阅及修改个人资料</h4>
作为资料的所属者，您有权向本公司要求查阅及修改关於您的资料。您可透过电邮<script type="text/javascript">
 <!--
 var prefix = '&#109;a' + 'i&#108;' + '&#116;o';
 var path = 'hr' + 'ef' + '=';
 var addy20582 = 'hr' + '&#64;';
 addy20582 = addy20582 + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 var addy_text20582 = 'hr' + '&#64;' + 'b&#117;yb&#117;s&#105;n&#101;ss' + '&#46;' + 'c&#111;m' + '&#46;' + 'hk';
 document.write('<a ' + path + '\'' + prefix + ':' + addy20582 + '\'>');
 document.write(addy_text20582);
 document.write('<\/a>');
 //-->\n </script><a href="mailto:hr@buybusiness.com.hk"></a><script type="text/javascript">
 <!--
 document.write('<span style=\'display: none;\'>');
 //-->
 </script><span style="display: none;">该Email地址已收到反垃圾邮件插件保护。要显示它您需要在浏览器中启用JavaScript。
 <script type="text/javascript">
 <!--
 document.write('</');
 document.write('span>');
 //-->
 </script></span>以书面方式提出。
<?PHP } ?>
 </div>
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />