<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<!------------------------關于我們主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">買家收購業務</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="aboutBanner"><img src="{:SITE_PATH}{$banner}" /></div>
      <div class="aboutwrap_l_menu br_acacac fl">
        <ul>
          <li><a href="{:U('Page/buyers', array('lang'=>$lang))}">買家收購程序</a></li>
          <li><a href="{:U('Page/why_us', array('lang'=>$lang))}" class="current">爲何選擇我們</a></li>
          <li><a href="{:U('Page/buyers_query', array('lang'=>$lang))}">買家查詢</a></li>
        </ul>
      </div>
      <div class="aboutwrap_l_txt fl">
        {$content|html_entity_decode=###}
      </div>
    </div>
    <include file="Common:right" />
  </div>
</div>
<div class="clear"></div>
<include file="Common:footer" />