<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<style>
.aboutwrap_l {width:765px;height:688px;margin-right:10px}
.clearboth {clear:both}
.aboutwrap_l ul li {padding: 15px}
</style>
<!------------------------首頁主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <div class="aboutTitle">{$text_zuixinxiaoxi}</div>
<div class="aboutwrap">
  <div class="aboutwrap_l fl b_aeaeae pr u-div">
    <div>
      <ul>
        <volist name="news" id="vo">
        <li class="bb_acacac mb10">
          <a href="{:SITE_PATH}{$vo.pdf}">{$vo.title}</a>
        </li>
        </volist>
      </ul>
    </div>
    <div class="page">
      <ul class="fr">
        <?PHP for ($i=0; $i<$total_pages; $i++) { ?>
        <li><a href="{:U('News/index',array('p'=>$i+1))}" class="page-index <if condition="$i+1 eq $page">currentPage</if>">{$i+1}</a></li>
        <?PHP } ?>
        <if condition="$page lt $total_pages"><li><a href="{:U('News/index',array('p'=>$page+1))}" class="arrow-right-a"><img src="Public/zh/images/arrow_right.png" /></a></li></if>
      </ul>
    </div>
  </div>
  <include file="Common:right" />
  <div class="clearboth"></div>
</div>
</div>
<include file="Common:footer" />