<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <img class="logo-img" src="{:SITE_PATH}Public/Img/Buy/logo.png" />
      </div>
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">主頁</a> <span class="divider">/</span></li>
				    <li><a href="#">主頁管理</a> <span class="divider">/</span></li>
				    <li class="active">主頁廣告</li>
				    </ul>
				<h3 id="h3-title">主頁廣告</h3>	
                <form class="form-horizontal" id="myForm" method="post" action="{:U('saveMany')}" onsubmit="editor.sync();myForm.submit();" enctype="multipart/form-data">
				<?PHP for ($i=0; $i<10; $i++) { ?>
                  <div class="frame-box-div">
				    <div class="control-group">
				    <!--label class="control-label">Link：</label-->
				    <div class="controls">
				    <input type="hidden" id="image-url-{$i}" name="image[]" value="{$ads[$i]['image']}" >
				    <span id="fileinput-image-{$i}" class="fileinput-image"><img id="uploaded-img-{$i}" class="uploaded-img main-banner-img" src="" /></span>
				    </div>
				    </div>
				    <div class=" control-group">
		                   <label class="control-label">廣告<?PHP echo $i+1; ?>：</label>
		                   <div class="controls fileinput-button">
		                     <span class="fileinput-button"><span>點此上傳圖片</span><input id="fileupload-{$i}" type="file" name="files[]" class="input" ></span>
		                     <span class=" iconshadow" ><i class="icon-remove" onClick="tool.removeMovie('#time')"></i></span><span id="upload-progress-{$i}" class="help-inline"></span>
		                     <br/><span class="help-text"><span class="label label-important">( size: 250px X 180px )</span></span>
		                </div>
		            </div>

				    <div class="control-group">
				    <label class="control-label">Link: </label>
				    <div class="controls">
				     <input type="text" id="href-{$i}" name="href[]" value="{$ads[$i]['href']}"/>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">顯示：</label>
				    <div class="controls">
				    <input type="checkbox" id="status-{$i}" name="status[{$i}]" value="1" <if condition="$ads[$i]['status'] eq '1'">checked</if>>
				    </div>
				    </div>
				    <input type="hidden" id="id-{$i}" name="id[]" value="{$ads[$i]['id']}" />
				  </div><!--/frame-box-div-->
				  <br/>
				<?PHP } ?>
				<input type="hidden" id="type" name="type" value="{$type}" />
				<div class="control-group">
				<div class="controls">
				<button type="submit" class="btn">提交</button>
				</div>
				</div>
				</form>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/kindeditor/kindeditor.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/jquery-ui.min.js"></script>
<script src="__JS__/jquery.fileupload.js"></script>
<script src="__JS__/common.js"></script>
<script>
function change_image(url,idx){
  var w=250;
  var h=180;
	jQuery("#uploaded-img-"+idx).attr("src","{:SITE_PATH}"+url);
	jQuery("#uploaded-img-"+idx).css("width",w+"px");
	jQuery("#uploaded-img-"+idx).css("height",h+"px");
	if(jQuery('#remove-a-'+idx).length==0) {
		jQuery('<a id="remove-a-'+idx+'" href="{:U("del",array("type"=>"ads"))}&id='+(idx+1)+'">移除</a><br/>').insertAfter("#fileinput-image-"+idx);
	}
}

var tool={
		uploadMovie:function(url,btn,input,msg,idx){
			jQuery(btn).fileupload({
			    url: url,
			    dataType: 'json',
			    done: function (e, data) {
			    	jQuery.each(data.result.files, function (index, file) {
			    		
			        	if(file.error){
			        		alert(file.error);
			        	}else{
			        	   jQuery(input).val(file.name);
			        	   change_image(file.name,idx);
			        	}
			        });
			    },
			    progressall: function (e, data) {
			        var progress = parseInt(data.loaded / data.total * 100, 10);
			         $(msg).html('upload:'+progress + '%');
			    }
			}).prop('disabled', !$.support.fileInput).parent().addClass($.support.fileInput ? undefined : 'disabled');
		},
		removeMovie:function(obj){
			jQuery(obj).val("");
		}
};	
jQuery(function(){
	//var url='__URL__/uploadPdf';
	var url='__URL__/uploadPic/model/ads';

  var i;
  for(i=0; i<10; i++){
	tool.uploadMovie(url,"#fileupload-"+i,'#image-url-'+i,"#upload-progress-"+i,i);

	if(jQuery('#image-url-'+i).val()!=''){
		change_image(jQuery('#image-url-'+i).val(),i);
	}
	jQuery('#image-url-'+i).change(function(){
		change_image(jQuery('#image-url-'+i).val(),i);
	});
  }
});
</script>
</body>
</html>