<include file="Common:header" />
<body>
<div class="container" style="width:1480px;">
      <div class="row">
        <img class="logo-img" src="{:SITE_PATH}Public/Img/Buy/logo.png" />
      </div>
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">主頁</a> <span class="divider">/</span></li>
				    <li><a href="#">現正出讓業務 頁面管理</a> <span class="divider">/</span></li>
				    <li class="active">項目管理</li>
				    </ul>

				<h3 id="h3-title">新增項目</h3>	

<div style="display:none"><include file="./Application/Home/View/Common/search.html" /></div>

                  <div class="frame-box-div">
                    <form class="form-horizontal form-project" id="myForm" method="post" action="{:U('save')}" onsubmit="return check_form();myForm.submit();" enctype="multipart/form-data">
				    <div class="control-group">
				    <label class="control-label">顯示位置<span class="required">*</span>&nbsp;：</label>
				    <div class="controls">
				    <input class="input-small" type="text" id="position" name="position" value="{$list.position}">
                    <label class="control-label" style="float:right"><span class="required">*</span>&nbsp;為必須填上</label>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">顯示：</label>
				    <div class="controls">
				    <input type="checkbox" id="visible" name="visible" value="on" <if condition="$list['visible'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">熱門推介：</label>
				    <div class="controls">
				    <input type="checkbox" id="hot_recomm" name="hot_recomm" value="on" <if condition="$list['hot_recomm'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">荀盤推介：</label>
				    <div class="controls">
				    <input type="checkbox" id="estate_recomm" name="estate_recomm" value="on" <if condition="$list['estate_recomm'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">小本創業：</label>
				    <div class="controls">
				    <input type="checkbox" id="small_business" name="small_business" value="on" <if condition="$list['small_business'] eq 'on'">checked</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">投資首選：</label>
				    <div class="controls">
				    <input type="checkbox" id="first_choice" name="first_choice" value="on" <if condition="$list['first_choice'] eq 'on'">checked</if>>
				    </div>
				    </div>
                    <div class="control-group input-append">
				      <label class="control-label">行業：</label>
				      <div class="controls">
				        <input class="input-medium" type="text" name="c_field" placeholder="行業">
                        <div class="btn-group">
                          <button class="btn dropdown-toggle" data-toggle="dropdown" onclick="$('#selectbox-field').toggle('_default');">
                            <span class="caret"></span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="top_submenus search_all" id="selectbox-field" style="position:absolute;display: none;">
                    </div>
                    <br/><br/>

				    <div class="control-group control-zh">
				    <label class="control-label">項目名稱：</label>
				    <div class="controls">
				    <input type="text" id="title_zh" name="title_zh" value="{$list.title_zh}">
				    </div>
				    </div>
				    <div class="control-group control-cn">
				    <label class="control-label">項目名稱：</label>
				    <div class="controls">
				    <input type="text" id="title_cn" name="title_cn" value="{$list.title_cn}">
				    </div>
				    </div>
				    <div class="control-group control-en">
				    <label class="control-label">項目名稱：</label>
				    <div class="controls">
				    <input type="text" id="title_en" name="title_en" value="{$list.title_en}">
				    </div>
				    </div>

				    <div class="control-group control-zh">
				    <label class="control-label">代號名稱：</label>
				    <div class="controls">
				    <input type="text" id="codename_zh" name="codename_zh" value="{$list.codename_zh}">
				    </div>
				    </div>
				    <div class="control-group control-cn">
				    <label class="control-label">代號名稱：</label>
				    <div class="controls">
				    <input type="text" id="codename_cn" name="codename_cn" value="{$list.codename_cn}">
				    </div>
				    </div>
				    <div class="control-group control-en">
				    <label class="control-label">代號名稱：</label>
				    <div class="controls">
				    <input type="text" id="codename_en" name="codename_en" value="{$list.codename_en}">
				    </div>
				    </div>

                    <div class="control-group input-append">
				      <label class="control-label">地區 ：</label>
				      <div class="controls">
				        <input class="input-medium" type="text" name="c_area" placeholder="地區">
                        <div class="btn-group">
                          <button class="btn dropdown-toggle" data-toggle="dropdown" onclick="$('#selectbox-area').toggle('_default');">
                            <span class="caret"></span>
                          </button>
                        </div>
                      </div>
                    </div>

                    <div class="top_submenus Area" id="selectbox-area" style="position:absolute;display: none;">
                    </div>
                    <br/><br/>

				    <!--div class="control-group">
				    <label class="control-label">地區 ：</label>
				    <div class="controls">
				    <select id="c_area" name="c_area"><volist name="categories" id="vo"><if condition="$vo['t'] eq '地區'">
				      <option value='{$vo.id}' <if condition="$list['c_area'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    <select id="c_area1" name="c_area1" val="{$list.c_area1}"></select>
				    </div>
				    </div-->

				    <div class="control-group control-zh">
				    <label class="control-label" style="position:relative; top:80px;">業務重點 ：</label>
				    <div class="controls">
				     <textarea id="business_focus_zh" name="business_focus_zh" style="width:700px;height:200px;">{$list.business_focus_zh}</textarea>
				    </div>
				    </div>
				    <div class="control-group control-cn">
				    <label class="control-label" style="position:relative; top:80px;">業務重點 ：</label>
				    <div class="controls">
				     <textarea id="business_focus_cn" name="business_focus_cn" style="width:700px;height:200px;">{$list.business_focus_cn}</textarea>
				    </div>
				    </div>
				    <div class="control-group control-en">
				    <label class="control-label" style="position:relative; top:80px;">業務重點 ：</label>
				    <div class="controls">
				     <textarea id="business_focus_en" name="business_focus_en" style="width:700px;height:200px;">{$list.business_focus_en}</textarea>
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">牌照 ：</label>
				    <div class="controls">
				    <select id="c_certificate" name="c_certificate[]" multiple><volist name="categories" id="vo"><if condition="$vo['t'] eq '牌照'">
				      <option value='{$vo.id}' <if condition="in_array ($vo['id'], $list['c_certificate'])">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>

				    <div class="control-group control-zh">
				    <label class="control-label">出讓原因 ：</label>
				    <div class="controls">
				    <input type="text" id="reason_zh" name="reason_zh" value="{$list.reason_zh}">
				    </div>
				    </div>
				    <div class="control-group control-cn">
				    <label class="control-label">出讓原因 ：</label>
				    <div class="controls">
				    <input type="text" id="reason_cn" name="reason_cn" value="{$list.reason_cn}">
				    </div>
				    </div>
				    <div class="control-group control-en">
				    <label class="control-label">出讓原因 ：</label>
				    <div class="controls">
				    <input type="text" id="reason_en" name="reason_en" value="{$list.reason_en}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">定價 ：</label>
				    <div class="controls">
				    <input type="text" id="price" name="price" value="{$list.price}">
				    </div>
				    </div>

				    <div class="control-group control-zh">
				    <label class="control-label">包括存貨/其他 ：</label>
				    <div class="controls">
				    <input type="text" id="store_zh" name="store_zh" value="{$list.store_zh}">
				    </div>
				    </div>
				    <div class="control-group control-cn">
				    <label class="control-label">包括存貨/其他 ：</label>
				    <div class="controls">
				    <input type="text" id="store_cn" name="store_cn" value="{$list.store_cn}">
				    </div>
				    </div>
				    <div class="control-group control-en">
				    <label class="control-label">包括存貨/其他 ：</label>
				    <div class="controls">
				    <input type="text" id="store_en" name="store_en" value="{$list.store_en}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">營業額（每月）：</label>
				    <div class="controls">
				    <input type="text" id="turnover" name="turnover" value="{$list.turnover}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">參考利潤（每月）：</label>
				    <div class="controls" style="position:relative; left:-13px">
				    <input type="radio" id="profit_option1" name="profit_option" style="position:relative; left:-10px" value="1" <if condition="$list['profit_option'] neq '2'">checked</if> onclick="$('#profit_text_zh,#profit_text_cn,#profit_text_en').attr('disabled','disabled');$('#profit_text_zh,#profit_text_cn,#profit_text_en').val('');$('#profit').removeAttr('disabled');"><input type="text" id="profit" name="profit" value="{$list.profit}" <if condition="$list['profit_option'] eq '2'">disabled</if>><br/><br/>
				    <input type="radio" id="profit_option2" name="profit_option" style="position:relative; left:-10px" value="2" <if condition="$list['profit_option'] eq '2'">checked</if> onclick="$('#profit').attr('disabled','disabled');$('#profit').val('');$('#profit_text_zh,#profit_text_cn,#profit_text_en').removeAttr('disabled');"><input class="control-zh control-inline" type="text" id="profit_text_zh" name="profit_text_zh" value="{$list.profit_text_zh}" placeholder="其它字句" <if condition="$list['profit_option'] neq '2'">disabled</if>><input class="control-cn control-inline" type="text" id="profit_text_cn" name="profit_text_cn" value="{$list.profit_text_cn}" placeholder="其它字句" <if condition="$list['profit_option'] neq '2'">disabled</if>><input class="control-en control-inline" type="text" id="profit_text_en" name="profit_text_en" value="{$list.profit_text_en}" placeholder="其它字句" <if condition="$list['profit_option'] neq '2'">disabled</if>>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">回本期（月）：</label>
				    <div class="controls">
				    <input type="text" id="recovery_period" name="recovery_period" value="{$list.recovery_period}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">面積（平方呎）：</label>
				    <div class="controls">
				    <input type="text" id="square" name="square" value="{$list.square}">
				    <input type="text" id="square_text" name="square_text" value="{$list.square_text}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">租金 ：</label>
				    <div class="controls">
				    <input type="text" id="rent" name="rent" value="{$list.rent}">
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">東主參與程度 ：</label>
				    <div class="controls">
				    <select id="c_participation" name="c_participation[]" multiple><volist name="categories" id="vo"><if condition="$vo['t'] eq '東主參與程度'">
				      <option value='{$vo.id}' <if condition="in_array ($vo['id'], $list['c_participation'])">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">經營場所類別 ：</label>
				    <div class="controls">
				    <select id="c_location" name="c_location[]" multiple><volist name="categories" id="vo"><if condition="$vo['t'] eq '經營場所類別'">
				      <option value='{$vo.id}' <if condition="in_array ($vo['id'], $list['c_location'])">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">轉讓形式 ：</label>
				    <div class="controls">
				    <select id="c_transfer" name="c_transfer[]" multiple><volist name="categories" id="vo"><if condition="$vo['t'] eq '轉讓形式'">
				      <option value='{$vo.id}' <if condition="in_array ($vo['id'], $list['c_transfer'])">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">地鐵沿線 ：</label>
				    <div class="controls">
				    <select id="c_metro" name="c_metro[]" multiple><volist name="categories" id="vo"><if condition="$vo['t'] eq '地鐵沿線'">
				      <option value='{$vo.id}' <if condition="in_array ($vo['id'], $list['c_metro'])">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>

				    <div class="control-group">
				    <label class="control-label">首期 ：</label>
				    <div class="controls">
				    <input type="text" id="downpay" name="downpay" value="{$list.downpay}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">每月供款 ：</label>
				    <div class="controls">
				    <input type="text" id="allowance" name="allowance" value="{$list.allowance}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">供款期數 ：</label>
				    <div class="controls">
				    <input type="text" id="allowance_period" name="allowance_period" value="{$list.allowance_period}">
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">項目現況 ：</label>
				    <div class="controls">
				    <select id="c_situation" name="c_situation"><volist name="categories" id="vo"><if condition="$vo['t'] eq '項目現況'">
				      <option value='{$vo.id}' <if condition="$list['c_situation'] eq $vo['id']">selected</if>>{$vo.name}</option>
				    </if></volist></select>
				    </div>
				    </div>
				    <div class="control-group">
				    <label class="control-label">投資金額 ：</label>
				    <div class="controls">
				      <select id="investment" name="investment">
				        <option value="HK$100,000或以下" <if condition="$list['investment'] eq 'HK$100,000或以下'">selected</if>>HK$100,000或以下</option>
				        <option value="HK$100,001-300,000" <if condition="$list['investment'] eq 'HK$100,001-300,000'">selected</if>>HK$100,001-300,000</option>
				        <option value="HK$300,001-500,000" <if condition="$list['investment'] eq 'HK$300,001-500,000'">selected</if>>HK$300,001-500,000</option>
				        <option value="HK$500,001-800,000" <if condition="$list['investment'] eq 'HK$500,001-800,000'">selected</if>>HK$500,001-800,000</option>
				        <option value="HK$800,001-1,500,000" <if condition="$list['investment'] eq 'HK$800,001-1,500,000'">selected</if>>HK$800,001-1,500,000</option>
				        <option value="HK$1,500,001-2,500,000" <if condition="$list['investment'] eq 'HK$1,500,001-2,500,000'">selected</if>>HK$1,500,001-2,500,000</option>
				        <option value="HK$2,500,000以上" <if condition="$list['investment'] eq 'HK$2,500,000以上'">selected</if>>HK$2,500,000以上</option>
				      </select>
				    </div>
				    </div>

				    <input type="hidden" id="id" name="id" value="{$list.id}" />
                    <input type="hidden" id="type" name="type" value="{$type}" />
				    <div class="control-group">
				    <div class="controls">
				    <button type="submit" class="btn"><if condition="$list['id'] neq ''">更改<else/>新增</if></button>
				    <if condition="$list['id'] neq ''"><button type="button" class="btn" onclick="window.location.href='{:U('admin',array('type'=>$type,'pid'=>$pid))}';">取消</button></if>
				    </div>
				    </div>
				    </form>
                  </div><!--/frame-box-div-->

        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/kindeditor/kindeditor.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/common.js"></script>
<script>
KindEditor.ready(function(K) {
	editor1 = K.create('#business_focus_zh', {
					allowFileManager : true,
					urlType : 'domain'
	});
	editor2 = K.create('#business_focus_cn', {
					allowFileManager : true,
					urlType : 'domain'
	});
	editor3 = K.create('#business_focus_en', {
					allowFileManager : true,
					urlType : 'domain'
	});
});

function language_norefresh(){
  $('#zh-a,#cn-a,#en-a').attr('href','javascript:(function(){language_switch();})();');
}
function language_switch(){
  var strCookie=document.cookie; 
  var arrCookie=strCookie.split("; "); 
  var lang='zh';
  for(var i=0;i<arrCookie.length;i++){ 
    var arr=arrCookie[i].split("="); 
    if("lang"==arr[0]){ 
      lang=arr[1]; 
      break; 
    } 
  }
  $('.control-zh,.control-cn,.control-en').css('display','none');
  $('.control-'+lang).each(function(){
    if($(this).hasClass('control-inline')){
      $(this).css('display','inline-block');
    }
    else{
      $(this).css('display','block');
    }
  });
  language_norefresh();
  $('#zh-a,#cn-a,#en-a').removeClass('active');
  $('#'+lang+'-a').addClass('active');
}

function check_form(){
  return true;
}

  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }

var cate_id=[];
var cate_name=[];
var cate_t=[];
<volist name="categories" id="vo">
cate_id.push({$vo.id});
cate_name.push('{$vo.name}');
cate_t.push('{$vo.t}');

</volist>
function fill_options(sel,tname){
  sel.html('');
  var i;
  for(i=0;i<cate_id.length;i++) if(cate_t[i]==tname){
    sel.append('<option value="'+cate_id[i]+'">'+cate_name[i]+'</option>');
    if(sel.attr('val')==cate_id[i]){
      sel.find('option[value="'+cate_id[i]+'"]').attr('selected','selected');
    }
  }
}
function retrieve_options(){
  var field=$('#c_field option[value="'+$('#c_field').val()+'"]').text();
  if('飲食業'==field){
    fill_options($('#c_field1'),'菜式');
    fill_options($('#c_field2'),'食店');
  }
  else if('教育業'==field){
    fill_options($('#c_field1'),'持牌狀況');
    fill_options($('#c_field2'),'類別');
  }
  else{
    fill_options($('#c_field1'),field);
    fill_options($('#c_field2'),'');
  }
  var area=$('#c_area option[value="'+$('#c_area').val()+'"]').text();
  fill_options($('#c_area1'),area);
}

$(function(){
  retrieve_options();
  $('#c_field,#c_area').change(function(){
    retrieve_options();
  });

  // Select boxes
  // Select box - Field
  $('#TB_window').insertBefore($('#selectbox-field'));
  $('#TB_mask').insertBefore($('#selectbox-field'));
  $('#selectbox-field').html($('#searchbox-field').html());
  $('#searchbox-field').remove();
  $('#selectbox-field .search_header').remove();
  $('#selectbox-field>ul+ul').remove();
  // Select box - Area
  $('#selectbox-area').html($('#searchbox-area').html());
  $('#searchbox-area').remove();
  $('#selectbox-area>ul>li:first-child+div+li').remove();
  $('#selectbox-area>ul>li:first-child').remove();
  // Data
  <?PHP foreach ($list['c_field1'] as $val) { ?>
  $('input[value="<?PHP echo $val; ?>"]').attr('checked','checked');
  <?PHP } ?>
  <?PHP foreach ($list['c_field2'] as $val) { ?>
  $('input[value="<?PHP echo $val; ?>"]').attr('checked','checked');
  <?PHP } ?>
  <?PHP foreach ($list['c_area1'] as $val) { ?>
  $('input[value="<?PHP echo $val; ?>"]').attr('checked','checked');
  <?PHP } ?>
});
</script>

<link href="__CSS__/bootstrap-multiselect.css" type="text/css" rel="stylesheet" />
<script src="__JS__/bootstrap-multiselect.js"></script>
<script>
$(function(){
  $('#c_certificate').multiselect();
  $('#c_participation').multiselect();
  $('#c_location').multiselect();
  $('#c_transfer').multiselect();
  $('#c_metro').multiselect();

  // Language zh by default
  document.cookie='lang=zh';

  language_switch();

  $('#price').change(function(){
    $('#downpay').val( Math.round(<?PHP echo (float)$settings[1]['value'] / (float)100.0; ?> * $('#price').val()) );
    $('#allowance_period').val(<?PHP echo $settings[3]['value']; ?>);
    $('#allowance').val( Math.round($('#price').val() * (1-<?PHP echo (float)$settings[1]['value'] / (float)100.0; ?>) * (1/<?PHP echo $settings[3]['value']; ?>+<?PHP echo (float)$settings[2]['value'] / (float)100.0; ?>)) );
  });
});
</script>
</body>
</html>