<include file="Common:header" />
<body>
<link href="__CSS__/styles.css" type="text/css" rel="stylesheet" />
<link href="__CSS__/text-info.css" type="text/css" rel="stylesheet" />
<div class="container" style="width:1480px;">
      <div class="row">
        <img class="logo-img" src="{:SITE_PATH}Public/Img/Buy/logo.png" />
      </div>
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">主頁</a> <span class="divider">/</span></li>
				    <li><a href="#">現正出讓業務 頁面管理</a> <span class="divider">/</span></li>
				    <li class="active">項目管理</li>
				    </ul>

                    <form id="myForm2" method="post" action="{:U('edit',array('type'=>$type))}">
				    <button type="submit" class="btn btn-wide">新增項目</button>
				    </form>

				<h3>所有項目</h3>	
                    <form class="form-inline" id="search-form" method="post" action="{:U('admin', array('type'=>'category'))}">
                    <div class="input-append">
				      <input class="input-medium" type="text" name="fip" placeholder="行業、投資金額、利潤">
                      <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" onclick="popup_box($('.search_all'), $(this))">
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>

<div class="top_submenus search_all" style="display: none;"><div class="closed_icon">X</div>
  <div class="top_submenus_Industry _Many" style="width: 1060px;">
          <h1 class="element-tit" style="display:block;"><input type="checkbox" value="1" class="selectall" name="all_extra_18">任何行業</h1>
          <div class="element-box clearfix">
          	<div style="overflow:hidden">
                <div class="element_box">
                  <h2 class="element-tit">&nbsp;&nbsp;&nbsp;&nbsp;飲食業</h2>
                  <div class="clearfix element-box2">
                  	<h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="1" class="checkbox_all">所有類別</h3>
                    <h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="7" class="sub_checkall">任何菜式</h3>
					<ul class="clearfix">
						<li><input type="checkbox" name="extra_18[]" value="8" class="element_18">中式</li>
						<li><input type="checkbox" name="extra_18[]" value="9" class="element_18">日式</li>
						<li><input type="checkbox" name="extra_18[]" value="10" class="element_18">西式</li>
						<li><input type="checkbox" name="extra_18[]" value="11" class="element_18">東南亞</li>
						<li><input type="checkbox" name="extra_18[]" value="12" class="element_18">其他</li>
					</ul>
                    <h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="13" class="sub_checkall">任何食店</h3>
					<ul class="clearfix">
						<li><input type="checkbox" name="extra_18[]" value="14" class="element_18">燒臘/茶餐廳</li>
						<li><input type="checkbox" name="extra_18[]" value="18" class="element_18">小廚/大排檔</li>
						<li><input type="checkbox" name="extra_18[]" value="24" class="element_18">快餐店</li>
						<li><input type="checkbox" name="extra_18[]" value="27" class="element_18">雞煲/火鍋</li>
						<li><input type="checkbox" name="extra_18[]" value="84" class="element_18">食堂</li>
						<li><input type="checkbox" name="extra_18[]" value="15" class="element_18">小食/串燒</li>
						<li><input type="checkbox" name="extra_18[]" value="28" class="element_18">米線/粥粉麵</li>
						<li><input type="checkbox" name="extra_18[]" value="20" class="element_18">車仔麵</li>
						<li><input type="checkbox" name="extra_18[]" value="82" class="element_18">點心/中式包點</li>
						<li><input type="checkbox" name="extra_18[]" value="25" class="element_18">外賣店</li>
						<li><input type="checkbox" name="extra_18[]" value="83" class="element_18">素食店</li>
						<li><input type="checkbox" name="extra_18[]" value="26" class="element_18">私房菜</li>
						<li><input type="checkbox" name="extra_18[]" value="17" class="element_18">酒吧</li>
						<li><input type="checkbox" name="extra_18[]" value="19" class="element_18">餐廳</li>
						<li><input type="checkbox" name="extra_18[]" value="21" class="element_18">Café咖啡店</li>
						<li><input type="checkbox" name="extra_18[]" value="22" class="element_18">果汁店/三文治店</li>
						<li><input type="checkbox" name="extra_18[]" value="81" class="element_18">雪糕/甜品/糖水店</li>
						<li><input type="checkbox" name="extra_18[]" value="23" class="element_18">麵飽西餅店</li>
						<li><input type="checkbox" name="extra_18[]" value="86" class="element_18">教室</li>
						<li><input type="checkbox" name="extra_18[]" value="94" class="element_18">食物工場</li>
						<li><input type="checkbox" name="extra_18[]" value="85" class="element_18">食品批發</li>
						<li><input type="checkbox" name="extra_18[]" value="29" class="element_18">其他</li>
					</ul>
                  </div>
                </div>
                <div class="element_box">
                  <h2 class="element-tit">&nbsp;&nbsp;&nbsp;&nbsp;教育業 (持牌或非持牌)</h2>
                  <div class="clearfix element-box2 element-box2-margin">
                  	<h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="2" class="checkbox_all">所有類別</h3>
                    <h2 class="element-tit_2">持牌情况</h2>
					<ul class="clearfix">
						<li class="margin-li"><input type="checkbox" name="extra_18[]" value="30" class="element_field_18">持牌</li>
						<li class="margin-li"><input type="checkbox" name="extra_18[]" value="31" class="element_field_18">非持牌</li><li>&nbsp;</li>
					</ul>
					<ul class="clearfix">
						<li><input type="checkbox" name="extra_18[]" value="32" class="element_18">補習教育中心</li>
						<li><input type="checkbox" name="extra_18[]" value="33" class="element_18">Playgroup</li>
						<li><input type="checkbox" name="extra_18[]" value="36" class="element_18">語言教育中心</li>
                        <li><input type="checkbox" name="extra_18[]" value="88" class="element_18">音樂/舞蹈教育中心</li>
						<li><input type="checkbox" name="extra_18[]" value="35" class="element_18">興趣班教室</li>
						<li><input type="checkbox" name="extra_18[]" value="89" class="element_18">網上仲介</li>
						<li><input type="checkbox" name="extra_18[]" value="38" class="element_18">其他</li>
					</ul>
                  </div>
                </div>
                <div class="element_box"> <h2 class="element-tit">&nbsp;&nbsp;&nbsp;&nbsp;美容/美甲業</h2>
                  <div class="clearfix element-box2 element-box2-margin">
                  	<h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="3" class="checkbox_all">所有類別</h3>
					<ul class="clearfix">
					<li><input type="checkbox" name="extra_18[]" value="39" class="element_18">美容院</li>
					<li><input type="checkbox" name="extra_18[]" value="40" class="element_18">美甲店</li>
					<li><input type="checkbox" name="extra_18[]" value="41" class="element_18">按摩/足浴護理</li>
					<li><input type="checkbox" name="extra_18[]" value="42" class="element_18">髮型設計</li>
					<li><input type="checkbox" name="extra_18[]" value="43" class="element_18">其他</li>
					</ul>
                  </div>
                </div>
             </div>
             <div style="overflow:hidden">
                <div class="element_box">
                <h2 class="element-tit">&nbsp;&nbsp;&nbsp;&nbsp;零售業</h2>
                <div class="clearfix element-box2 element-box2-margin">
                  	<h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="4" class="checkbox_all">所有類別</h3>
					<ul class="clearfix">
						<li><input type="checkbox" name="extra_18[]" value="48" class="element_18">時裝/服飾/鞋店</li>
						<li><input type="checkbox" name="extra_18[]" value="59" class="element_18">童裝店</li>
						<li><input type="checkbox" name="extra_18[]" value="58" class="element_18">孕婦/嬰兒用品店</li>
						<li><input type="checkbox" name="extra_18[]" value="53" class="element_18">精品/玩具/禮品/文具店</li>
						<li><input type="checkbox" name="extra_18[]" value="59" class="element_18">化妝/美容用品</li>
						<li><input type="checkbox" name="extra_18[]" value="57" class="element_18">格仔舖</li>
						<li><input type="checkbox" name="extra_18[]" value="50" class="element_18">零食/食品零售/便利店</li>
						<li><input type="checkbox" name="extra_18[]" value="54" class="element_18">健康食品店</li>
						<li><input type="checkbox" name="extra_18[]" value="51" class="element_18">凍肉/冷凍食品</li>
						<li><input type="checkbox" name="extra_18[]" value="55" class="element_18">電子/手機配件</li>
						<li><input type="checkbox" name="extra_18[]" value="52" class="element_18">藥房 /藥行</li>
						<li><input type="checkbox" name="extra_18[]" value="49" class="element_18">花店</li>
						<li><input type="checkbox" name="extra_18[]" value="56" class="element_18">網上零售店</li>
						<li><input type="checkbox" name="extra_18[]" value="60" class="element_18">其他</li>
					</ul>
                </div>
                </div>
              	<div class="element_box">
                  	<h2 class="element-tit">&nbsp;&nbsp;&nbsp;&nbsp;服務業</h2>
                  	<div class="clearfix element-box2 element-box2-margin">
                  	<h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="5" class="checkbox_all">所有類別</h3>
					<ul class="clearfix">
						<li><input type="checkbox" name="extra_18[]" value="61" class="element_18">護老院</li>
						<li><input type="checkbox" name="extra_18[]" value="62" class="element_18">婚禮/婚紗服務</li>
						<li><input type="checkbox" name="extra_18[]" value="63" class="element_18">洗衣店/洗衣工場</li>
						<li><input type="checkbox" name="extra_18[]" value="71" class="element_18">洗碗工場 /清潔公司</li>
						<li><input type="checkbox" name="extra_18[]" value="64" class="element_18">寵物店</li>
						<li><input type="checkbox" name="extra_18[]" value="65" class="element_18">僱傭中心</li>
						<li><input type="checkbox" name="extra_18[]" value="67" class="element_18">商務中心 /工作坊</li>
						<li><input type="checkbox" name="extra_18[]" value="73" class="element_18">Studio 工作室</li>
						<li><input type="checkbox" name="extra_18[]" value="68" class="element_18">迷你倉</li>
						<li><input type="checkbox" name="extra_18[]" value="69" class="element_18">旅行社</li>
						<li><input type="checkbox" name="extra_18[]" value="70" class="element_18">酒店/賓館</li>
						<li><input type="checkbox" name="extra_18[]" value="72" class="element_18">找換店</li>
						<li><input type="checkbox" name="extra_18[]" value="93" class="element_18">I.T/網上服務公司</li>
						<li><input type="checkbox" name="extra_18[]" value="74" class="element_18">其他</li>
					</ul> 
                </div>
                </div>
                <div class="element_box">
                  	<h2 class="element-tit">&nbsp;&nbsp;&nbsp;&nbsp;其他</h2>
                  	<div class="clearfix element-box2 element-box2-margin">
	                  	<h3 class="element-tit"><input type="checkbox" name="extra_18[]" value="6" class="checkbox_all">所有類別</h3>
						<ul class="clearfix">
							<li><input type="checkbox" name="extra_18[]" value="76" class="element_18">連鎖生意</li>
							<li><input type="checkbox" name="extra_18[]" value="77" class="element_18">特許經營</li>
							<li><input type="checkbox" name="extra_18[]" value="78" class="element_18">B2B商業客戶公司</li>
							<li><input type="checkbox" name="extra_18[]" value="79" class="element_18">批發/貿易公司</li>
							<li><input type="checkbox" name="extra_18[]" value="80" class="element_18">其他</li>
						</ul>
                	</div>
                </div>
            </div>
        </div>
    </div>

  <ul class="elementBox">    
    <li class="left" style="width: 184px;">
      <h3 class="element-tit">投資金額</h3>
      <ul class="invest">
        <li><input type="checkbox" name="extra_fields_19_all" value="1" class="checkedall_19"><span class="element-name">投資金額不限</span></li>
              <li><input type="checkbox" name="extra_19[]" value="48" class="element_19"><span class="element-name">HK$100,000或以下</span></li>
              <li><input type="checkbox" name="extra_19[]" value="49" class="element_19"><span class="element-name">HK$100,001-300,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="50" class="element_19"><span class="element-name">HK$300,001-500,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="51" class="element_19"><span class="element-name">HK$500,001-800,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="52" class="element_19"><span class="element-name">HK$800,001-1,500,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="149" class="element_19"><span class="element-name">HK$1,500,001-2,500,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="150" class="element_19"><span class="element-name">HK$2,500,000以上</span></li>
            </ul>
    </li>
    <li class="left" style="width: 157px;">
      <h3 class="element-tit">利潤</h3>
      <input type="checkbox" name="extra_5[]" value="0-1" class="element_5"><span class="element-name">裝修/設備/客戶轉讓</span>
      <div>
      <ul class="Profit">
        <li><input type="checkbox" name="extra_5[]" value="0-2" class="checkedall_5 element_5"><span class="element-name">利潤不限</span></li>
        <li><input type="checkbox" name="extra_5[]" value="0-10000" class="element_5"><span class="element-name">HK$10,000 或以下</span></li>
        <li><input type="checkbox" name="extra_5[]" value="10001-20000" class="element_5"><span class="element-name">HK$10,001-20,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="20001-30000" class="element_5"><span class="element-name">HK$20,001-30,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="30001-40000" class="element_5"><span class="element-name">HK$30,001-40,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="40001-50000" class="element_5"><span class="element-name">HK$40,001-50,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="50001-99999999" class="element_5"><span class="element-name">HK$50,000 以上</span></li>
      </ul>
      </div>
    </li>
    <li class="left" style="width: 100px;">
      <h3 class="element-tit">參與程度</h3>
      <ul class="Participate">
      <li><input type="checkbox" name="extra_fields_12_all" value="1" class="checkedall_12"><span class="element-name">參與程度不限</span></li>
              <li><input type="checkbox" name="extra_12[]" value="40" class="element_12"><span class="element-name">投資者</span></li>
              <li><input type="checkbox" name="extra_12[]" value="5" class="element_12"><span class="element-name">全職營運</span></li>
              <li><input type="checkbox" name="extra_12[]" value="41" class="element_12"><span class="element-name">兼職營運</span></li>
            </ul>
    </li>
    <li class="left" style="width: 100px;">
      <h3 class="element-tit">回本期</h3>
      <ul class="Back">
        <li><input type="checkbox" name="extra_fields_16_all" value="1" class="checkedall_16"><span class="element-name">回本期不限</span></li>
        <li><input type="checkbox" name="extra_16[]" value="0-6" class="element_16"><span class="element-name">6個月或以下</span></li>
        <li><input type="checkbox" name="extra_16[]" value="6.1-12" class="element_16"><span class="element-name">7個月-12個月</span></li>
        <li><input type="checkbox" name="extra_16[]" value="12.1-24" class="element_16"><span class="element-name">13個月-24個月</span></li>
        <li><input type="checkbox" name="extra_16[]" value="24.1-9999999" class="element_16"><span class="element-name">24個月以上</span></li>

      </ul>
    </li>
    <li class="left" style="width: 157px;">
      <h3 class="element-tit">面積</h3>
      <ul class="Square">
        <li><input type="checkbox" name="extra_fields_7_all" value="1" class="checkedall_7"><span class="element-name">面積不限</span></li>
        <li><input type="checkbox" name="extra_7[]" value="0-200" class="element_7"><span class="element-name">200平方呎 或以下</span></li>
        <li><input type="checkbox" name="extra_7[]" value="201-500" class="element_7"><span class="element-name">201-500平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="501-800" class="element_7"><span class="element-name">501-800平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="801-1200" class="element_7"><span class="element-name">801-1,200平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="1201-2000" class="element_7"><span class="element-name">1,201-2,000平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="2001-99999999" class="element_7"><span class="element-name">2,000平方呎以上</span></li>
      </ul>
    </li>
    <li class="left" style="width: 157px;">
      <h3 class="element-tit">租金</h3>
      <ul class="Rent">
        <li><input type="checkbox" name="extra_fields_6_all" value="1" class="checkedall_6"><span class="element-name">租金不限</span></li>
        <li><input type="checkbox" name="extra_6[]" value="0-10000" class="element_6"><span class="element-name">HK$10,000或以下</span></li>
        <li><input type="checkbox" name="extra_6[]" value="10001-30000" class="element_6"><span class="element-name">HK$10,001-30,000</span></li>
        <li><input type="checkbox" name="extra_6[]" value="30001-50000" class="element_6"><span class="element-name">HK$30,001-50,000</span></li>
        <li><input type="checkbox" name="extra_6[]" value="50001-80000" class="element_6"><span class="element-name">HK$50,001-80,000</span></li>
        <li><input type="checkbox" name="extra_6[]" value="80001-100000" class="element_6"><span class="element-name">HK$80,001-100,000</span></li>
         <li><input type="checkbox" name="extra_6[]" value="100001-99999999" class="element_6"><span class="element-name">HK$100,000以上</span></li>
      </ul>
    </li>
  </ul>
  </div>

                    <div class="input-append">
				      <input class="input-small" type="text" name="area" placeholder="地區">
                      <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" onclick="popup_box($('.Area'), $(this))">
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>

<div class="top_submenus Area" style="display: none;"><div class="closed_icon">X</div>
      <ul class="elementBox">
        <li class="left">
          <h2 class="element-tit_2">經營場所類別</h2>
          <ul>
          	<li><input type="checkbox" name="extra_fields_20_all" value="-1" class="checkedall_20"><span class="element-tit">任何經營場所類別</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="151" class="element_20"><span class="element-name">地舖</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="152" class="element_20"><span class="element-name">商場舖</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="153" class="element_20"><span class="element-name">樓上舖</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="154" class="element_20"><span class="element-name">商業大廈</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="155" class="element_20"><span class="element-name">網上店</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="156" class="element_20"><span class="element-name">其他</span></li>
                    </ul>
        </li>
        <div style="width: 1020px;">
         <h2 class="element-tit_2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地區</h2>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="extra_fields_17_all" value="" class="checkedall_17"><span class="element-tit">&nbsp;&nbsp;覆盖全港</span></li>
      <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">香港島區</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_1" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">全香港島</span></li>
        <li class="add-left2">
	        <ul class="clearfix"> 
		        <li><input type="checkbox" name="extra_17[]" value="14" class="element_17"><span class="element-name">中西區</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="15" class="element_17"><span class="element-name">灣仔區</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="16" class="element_17"><span class="element-name">銅鑼灣</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="130" class="element_17"><span class="element-name">港島東區</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="131" class="element_17"><span class="element-name">港島南區</span></li>
	        </ul>
	    </li>
      </ul>
    </li>

      <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">九龍區</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_2" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">全九龍</span></li>
        <li class="add-left2">
	         <ul class="clearfix">
	        <li><input type="checkbox" name="extra_17[]" value="22" class="element_17"><span class="element-name">油尖旺區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="25" class="element_17"><span class="element-name">深水埗區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="23" class="element_17"><span class="element-name">九龍城區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="26" class="element_17"><span class="element-name">黃大仙區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="24" class="element_17"><span class="element-name">觀塘區</span></li>
	        </ul>
    	</li>
      </ul>
    </li>
     <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">新界區</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_3" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">全新界</span></li>
        <li class="add-left2">
        <ul class="clearfix">
        <li><input type="checkbox" name="extra_17[]" value="31" class="element_17"><span class="element-name">沙田區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="38" class="element_17"><span class="element-name">馬鞍山</span></li>
        <li><input type="checkbox" name="extra_17[]" value="27" class="element_17"><span class="element-name">大埔區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="32" class="element_17"><span class="element-name">西貢區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="30" class="element_17"><span class="element-name">將軍澳</span></li>
        <li><input type="checkbox" name="extra_17[]" value="33" class="element_17"><span class="element-name">新界北區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="29" class="element_17"><span class="element-name">荃灣區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="34" class="element_17"><span class="element-name">屯門區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="35" class="element_17"><span class="element-name">天水圍</span></li>
        <li><input type="checkbox" name="extra_17[]" value="36" class="element_17"><span class="element-name">元朗區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="133" class="element_17"><span class="element-name">東涌</span></li>
        <li><input type="checkbox" name="extra_17[]" value="28" class="element_17"><span class="element-name">離島區</span></li>

        </ul>
         </li>
      </ul>
    </li>
    </div>
     <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">地鐵沿線</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_4" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">任何地鐵沿線</span></li>
        <li class="add-left2">
        <ul class="clearfix">
        <li><input type="checkbox" name="extra_17[]" value="176" class="element_17"><span class="element-name">港島線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="189" class="element_17"><span class="element-name">西港島線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="177" class="element_17"><span class="element-name">觀塘線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="178" class="element_17"><span class="element-name">將軍澳線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="179" class="element_17"><span class="element-name">東鐵線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="180" class="element_17"><span class="element-name">馬鞍山線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="184" class="element_17"><span class="element-name">沙中線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="181" class="element_17"><span class="element-name">荃灣線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="182" class="element_17"><span class="element-name">西鐵線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="183" class="element_17"><span class="element-name">東涌線/迪士尼線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="185" class="element_17"><span class="element-name">機場快線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="186" class="element_17"><span class="element-name">其他</span></li>
        </ul>
         </li>
      </ul>
    </li>
       <li class="left" style="width: 100px;">
      <h2 class="element-tit_2">香港境外</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_5" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">所有地區</span></li>
        <li class="add-left2">
         <ul class="clearfix">
        <li><input type="checkbox" name="extra_17[]" value="147" class="element_17"><span class="element-name">中國內地</span></li>
        <li><input type="checkbox" name="extra_17[]" value="148" class="element_17"><span class="element-name">海外業務</span></li>
		</ul>
        </li>
      </ul>
    </li>
      </ul>
    </div>

				    <input class="input-small" type="text" id="keyword" name="keyword" value="" placeholder="輸入關鍵字"/>

				    <input type="hidden" id="idn" name="id" value="{$list.id}" />
                    <input type="hidden" id="typen" name="type" value="{$type}" />
				    <a href="javascript:document.getElementById('search-form').submit();"><img src="{:SITE_PATH}Public/Img/Buy/search_btn.png" /></a>
				    </form>
                <div class="frame-box-div">
                <table class="table table-striped">
	              <thead>
	                <tr>
	                    <th width="120">項目名稱<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>行業<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>出讓項目<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>每月利潤<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>定價<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>回本期<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>狀態<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>網頁位置<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>顯示<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>動作</th>
	                </tr>
	              </thead>
	              <tbody>
	               <volist name="list" id="vo">
	                <tr <if condition="$current eq $vo['id']">class="warning"</if>>
	                    <td>{$vo.title}</td>
	                    <td>{$vo.c_field}</td>
	                    <td>{$vo.contract}</td>
	                    <td>{$vo.profit}</td>
	                    <td>{$vo.price}</td>
	                    <td>{$vo.recovery_period}</td>
	                    <td>{$vo.status}</td>
	                    <td>{$vo.position}</td>
	                    <td><input style="position:relative;left:4px" type="checkbox" class="status-checkbox" name="status_group[]" <if condition="$vo['visible'] eq '1'">checked</if>></td>
	                    <td>
	                    <a href="{:U('edit',array('id'=>$vo['id'],'type'=>$type,'pid'=>$pid))}">編輯</a>&nbsp;｜&nbsp;
                        <a href="javascript:void(0);" onclick="del('{:U('del',array('id'=>$vo['id'],'type'=>$type))}');">刪除</a></td>
	                </tr>
	                </volist>
	              </tbody>
	            </table>
	            </div><!--/frame-box-div-->

	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/common.js"></script>
<script>
  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }

function popup_box(popdiv,btn){
  if('none'==popdiv.css('display')) close_div();
  popdiv.toggle('_default');
  var sp=btn.find('span');
  if(sp.hasClass('caret')){
    sp.removeClass('caret');
    sp.addClass('caretv');
  }
  else{
    sp.removeClass('caretv');
    sp.addClass('caret');
  }
}
</script>

<script>
	var close_div = function(){
		jQuery('.down_list').removeClass('down_list');
		jQuery('.Area').hide('_default');
		jQuery('.search_all').hide('_default');
		$('.caretv').addClass('caret');
		$('.caretv').removeClass('caretv');
	}

	var top_menu_cancel = function(){
		close_div();
		jQuery('h2.element-tit').next().hide();
		jQuery('.top_menu_content input[type=checkbox]').attr('checked',false);
		jQuery('.down_list_li').removeClass('down_list_li');
	}

	jQuery(window).on('load',  function() {
		jQuery('.selectall,.sub_checkall').each(function(){
			var checkboxall = jQuery(this);
			jQuery(checkboxall).click(function(){
				if(jQuery(this).attr('checked')=='checked'){
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked','checked');
				}else{
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked',false);
				};
			});
			jQuery(checkboxall).parent().next().find('input[type=checkbox]').click(function(){
				jQuery(checkboxall).attr('checked',false)
			});
		});

		jQuery('.check_one').click(function(){
			jQuery('.check_one').parent().parent().find('input[type=checkbox]').attr('checked',false);
			jQuery(this).attr('checked','checked');
			if(jQuery(this).hasClass('selectall')){
				jQuery('.check_one').parent().next().find('input[type=checkbox]').attr('checked','checked');
			}
		});

		jQuery('.font-A input[type=checkbox]').click(function(){
			jQuery(jQuery('.check_one')[0]).attr('checked',false);
		});



		jQuery('.enquiry_bottom._submit').click(function(){
			var search_id = jQuery(this).attr('search_id');
			//alert(search_id);exit;
			switch(search_id){

				case '18':
					search_18(search_id);
					break;
				case '17':
					search_17(search_id);//return false;
					break;
				case '19':
				case '5':
				case '12':
				case '16':
				case '7':
				case '6':
					search_19_5_12_16_7_6(search_id);
					break;
			}
			jQuery('#ext_18_search_frm').submit();
		});
		var search_19_5_12_16_7_6 = function(search_id){
			var arr = [];
			jQuery('.element_field_'+search_id+':checked').each(function(){
				arr.push( jQuery(this).val() );
			});
			jQuery('#ext_18_search_frm [name=extra_fields_'+search_id+']').val( arr.join(',') );
		}
		var search_17 = function(search_id){
			var arr2 = [];
			var arr = [];
			jQuery('h3.element-tit .checkbox_all').each(function(){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				//if(checked){

						if( jQuery(this).parent().parent().find('.element_field_17:checked').length>0 ){
							jQuery(this).parent().parent().find('.element_field_17:checked').each(function(){
								if(jQuery(this).val())arr.push( jQuery(this).val() );
							});
						}
						jQuery('#ext_18_search_frm [name=extra_fields_17]').val( arr.join(',') );

						if( jQuery(this).parent().parent().find('.element_field_20:checked').length>0 ){
							jQuery(this).parent().parent().find('.element_field_20:checked').each(function(){
								if(jQuery(this).val())arr2.push( jQuery(this).val() );
							});
						}
						jQuery('#ext_18_search_frm [name=extra_fields_20]').val( arr2.join(',') );

				//}
			});
		}
		var search_18 = function(search_id){
			var arr = [];
			jQuery('h3.element-tit .checkbox_all').each(function(){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				if(checked && jQuery(this).val()!=""){
					arr.push( jQuery(this).val() );
				}
				if( jQuery(this).parent().parent().find('.element_field_18:checked').length>0 ){
					jQuery(this).parent().parent().find('.element_field_18:checked').each(function(){
						if(jQuery(this).val()!=""){
							arr.push( jQuery(this).val() )
						};
					});
				}
			});

			jQuery('#extra_18').val( arr.join(',') );//alert( jQuery('#extra_18').val() );
			return true;
		};
		jQuery('h2.element-tit').each(function(){
			jQuery(this).click(function(){
				jQuery(this).next().toggle("fast");
			});
			jQuery(this).toggle(function(){jQuery(this).removeClass('up').addClass('down')},function(){jQuery(this).removeClass('down').addClass('up')});
		});


		jQuery('h2.element-tit input[type=checkbox]').each(function(){
			jQuery(this).click(function(event){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				if(checked != true){
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked',false);
				}else{
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked',true);
				}
				event.stopPropagation();
			});
		});

		//liao
		jQuery('h3.element-tit .checkbox_all').each(function(){
			jQuery(this).click(function(event){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				if(checked != true){
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',false);
				}else{
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',true);
				}
				event.stopPropagation();
			});
		});
		//end

		jQuery('.more_link').click(function(){
			jQuery('.top_icon.icon1').trigger('click');
		});
		jQuery('.addrss_more_link').click(function(){
			jQuery('.top_icon.icon2').trigger('click');
		});
		jQuery('.bg-right').click(function(){
			close_div();
			if(jQuery(this).parent().next().css('display') != 'block'){

				jQuery(this).parent().next().toggle('_default');
				jQuery(this).addClass('down_list');

			};


		});

		var check_js = function(id){
			jQuery('.element_'+id).click(function(){
				var arr = [];
				jQuery('.element_'+id).each(function(){
					if(jQuery(this).attr('checked')) arr.push(jQuery(this).val());
				});
				//alert(arr.join(','));
				jQuery('#top-Search input[name=extra_fields_'+id+']').val( arr.join(',') );
			});
			jQuery('.checkedall_'+id).click(function(){
				if(jQuery(this).attr('checked') == 'checked'){
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',true);

					var arr = [];
					jQuery('.element_'+id).each(function(){
						if(jQuery(this).attr('checked')) arr.push(jQuery(this).val());
					});

					jQuery('#top-Search input[name=extra_fields_'+id+']').val( arr.join(',') );
				}else{
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',false);
					jQuery('#top-Search input[name=extra_fields_'+id+']').val('');
				}
			});
		}

		new check_js(18);
		new check_js(19);
		new check_js(5);
		new check_js(12);
		new check_js(16);
		new check_js(7);
		new check_js(6);
		new check_js(17);
		new check_js(20);

		jQuery('li.g-li').each(function(){
			var parentobj=jQuery(this);
			jQuery(this).find('input[type=checkbox]').click(function(event){
				if( parentobj.find('input[type=checkbox]:checked').length>0 ){
					if(!parentobj.hasClass('down_list_li')){
						parentobj.addClass('down_list_li');
					}
				}else{
					if(parentobj.hasClass('down_list_li')){
						parentobj.removeClass('down_list_li');
					}
				}
				event.stopPropagation();
			})
		});

	});
	function top_search_submit(){
		if(jQuery('#search1').val()=='行業,投資金額,利潤...') jQuery('#search1').val('');
		if(jQuery('#input_address').val()=='地區') jQuery('#input_address').val('');
		if(jQuery('.search_keyworld').val()=='輸入關鍵字') jQuery('.search_keyworld').val('');
		return true;
	}


	jQuery(window).on('load',  function() {
		jQuery('.top_icon').click(function(){
			close_div();
			if(jQuery(this).next().css('display') != 'block'){
				jQuery(this).addClass('down_list');
				jQuery(this).next().show('_default');
			};
			if(jQuery(this).next().find('input[type=checkbox]:checked').length>0 ){
				jQuery(this).parent().addClass('down_list_li');
			}	
		});
		jQuery('.closed_icon').click(function(){
			close_div();
		});
		jQuery('.top_menu_content a').click(function(){
			//alert(jQuery(this).attr('searchfield')+jQuery(this).attr('searchdata'));
			window.location = 'index.php?option=com_jshopping&controller=search&task=result&search_type_2=top_menu&searchfield='+jQuery(this).attr('searchfield')+'&searchdata='+jQuery(this).attr('searchdata');
			return false;	
		});
	});
</script>
</body>
</html>