<include file="Common:header" />
<body>
<link href="__CSS__/styles.css" type="text/css" rel="stylesheet" />
<link href="__CSS__/text-info.css" type="text/css" rel="stylesheet" />
<div class="container" style="width:1480px;">
      <div class="row">
        <img class="logo-img" src="{:SITE_PATH}Public/Img/Buy/logo.png" />
      </div>
      <div class="row">
        <div class="span3">
         <include file="Common:menu" />
        </div><!--/span-->
        <div class="span9">
                     <ul class="breadcrumb">
				    <li><a href="#">主頁</a> <span class="divider">/</span></li>
				    <li><a href="#">現正出讓業務 頁面管理</a> <span class="divider">/</span></li>
				    <li class="active">項目管理</li>
				    </ul>

                    <form id="myForm2" method="post" action="{:U('edit',array('type'=>$type))}">
				    <button type="submit" class="btn btn-wide">新增項目</button>
				    </form>

				<h3>所有項目</h3>	

<!-- Search form START -->
                    <form class="form-inline" id="search-form" method="post" action="{:U('admin', array('type'=>'project'))}">

<!-- Input Select all START -->
                    <div class="input-append">
				      <input class="input-medium" type="text" name="fip" placeholder="行業、投資金額、利潤">
                      <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" onclick="popup_box($('.search_all'), $(this))">
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>

<!-- Advanced Search Box START -->
<div id="TB_window" class="top_submenus" style="position:absolute; top:25%; left:50%; width: 913px;height: 405px; margin-left:-457px;margin-top:-250px;border-radius:10px;padding:10px 30px;background-color:white; display: none;z-index:2147483647">
  <h3 class="element-tit" id="TB_title" style="padding:10px 0">飲食業</h3>
  <div style="width:96%;height:auto;background-color:rgb(253,233,217);border-radius:10px;padding:5px 20px">
    <h3 class="element-tit" id="TB_subtitle" style="width: 90px;display:block; float:left;">菜式</h3>
    <h3 class="element-tit" style="width: 100px;display:block; float:left;"><input type="checkbox" value="1" class="selectall" name="all_extra_18" onclick="checkall('#TB_options_u input',$(this));">&nbsp;選擇全部</h3>
    <div class="clearboth"></div>
  </div>
  <ul id="TB_options_u" style="width:96%;height:auto;padding:5px 0;margin-left:20px">
    <div id="TB_options" class="clearboth"></div>
  </ul>
  <div id="TB_section_2">
    <div style="width:96%;height:auto;background-color:rgb(253,233,217);border-radius:10px;padding:5px 20px">
      <h3 class="element-tit" id="TB_subtitle_2" style="width: 90px;display:block; float:left;">食店</h3>
      <h3 class="element-tit" style="width: 100px;display:block; float:left;"><input type="checkbox" value="1" class="selectall" name="all_extra_18" onclick="checkall('#TB_options_2_u input',$(this));">&nbsp;選擇全部</h3>
      <div class="clearboth"></div>
    </div>
    <ul id="TB_options_2_u" style="width:96%;height:auto;padding:5px 0;margin-left:20px">
      <div id="TB_options_2" class="clearboth"></div>
    </ul>
  </div>

  <div class="submit-buttons" style="float:right; margin:10px"><a href="javascript:(function(){$('#TB_window input').removeAttr('checked');js_op_close(false)})();"><img src="{:SITE_PATH}Public/zh/images/cancel.png" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:js_op_close(false);"><img src="{:SITE_PATH}Public/zh/images/yes.png" /></a></a></div>
</div>
<div id="TB_mask" style="filter:alpha(opacity=30);-moz-opacity:0.5;opacity:0.5;background-color:#000000;position:absolute;left:0px;top:0px;width:100%;height:300%;z-index:2147483646;display:none" onclick="js_op_close(false)"></div>
<script>
function js_op_close(reload){
  // Return options from advanced search box
  $('#TB_options_u li,#TB_options_2_u li').css('float','initial');
  $('#TB_options_u li,#TB_options_2_u li').css('width','inherit');
  if('飲食業'==$('#TB_title').text()){
    $('#TB_options_u li:first-child+li+li~li,#TB_options_2_u li:first-child+li~li').css('display','none');
    $('#TB_options_u li').appendTo('.checkbox-block-'+$("#TB_window").attr('fid'));
    $('#TB_options_2_u li').appendTo('.checkbox-block-'+$("#TB_window").attr('fid'));
  }
  else if('教育業'==$('#TB_title').text()){
    $('#TB_options_u li:first-child+li~li,#TB_options_2_u li:first-child+li+li+li~li').css('display','none');
    $('#TB_options_u li').css('float','left');
    $('#TB_options_u li:first-child').css('width','46px');
    $('#TB_options_u li:first-child+li').css('width','59px');
    $('#TB_options_u li').insertBefore('.checkbox-block-'+$("#TB_window").attr('fid')+' li:first-child+li>ul>.clearboth');
    $('#TB_options_2_u li').appendTo('.checkbox-block-'+$("#TB_window").attr('fid'));
  }
  else{
    $('#TB_options_u li:first-child+li+li+li+li~li').css('display','none');
    $('#TB_options_u li').appendTo('.checkbox-block-'+$("#TB_window").attr('fid'));
  }

	$("#TB_mask").css("display",'none');
	$("#TB_window").css("display",'none');
}
function tb_show(fname,id)
{
  // Move options to advanced search box
  if('飲食業'==fname){
    $('.checkbox-block-'+id+' li:first-child~.li-1').insertBefore('#TB_options');
    $('.checkbox-block-'+id+' li:first-child~.li-2').insertBefore('#TB_options_2');
    $('#TB_section_2').css('display','block');
  }
  else if('教育業'==fname){
    $('.checkbox-block-'+id+' li:first-child+li>ul>.li-1').insertBefore('#TB_options');
    $('.checkbox-block-'+id+' li:first-child~.li-2').insertBefore('#TB_options_2');
    $('#TB_section_2').css('display','block');
  }
  else{
    $('.checkbox-block-'+id+' li:first-child~.li-1').insertBefore('#TB_options');
    $('#TB_section_2').css('display','none');
  }

  $('#TB_options_u li,#TB_options_2_u li').css('float','left');
  $('#TB_options_u li,#TB_options_2_u li').css('width','145px');
  $('#TB_options_u li,#TB_options_2_u li').css('display','block');
  $('#TB_title').text(fname);
  if('飲食業'==fname){
    $('#TB_subtitle').text('菜式');
    $('#TB_subtitle_2').text('食店');
  }
  else if('教育業'==fname){
    $('#TB_subtitle').text('持牌狀況');
    $('#TB_subtitle_2').text('類別');
  }
  else {
    $('#TB_subtitle').text('');
    $('#TB_subtitle').css('width','0');
  }

	$("#TB_mask").css("display",'block');
	$("#TB_window").css("display",'block');
	$("#TB_window").attr('fid',id);
}

function js_op(_url)
{
	$.ajax({
		type:'POST',
		url:_url,
		dataType:'json',
		cache:false,
		error:function(){
			alert('出错了！');
			return false;
		},
		success:function(json){
			if('1' == json.data)
			{
				alert('操作成功！');
				location.reload();
			}
			else
			{
				alert('操作失败！');
			}
		}
	});
}

function checkall(selector,refbox){
  if('undefined'!=typeof(refbox.attr('checked'))){
    $(selector).attr('checked','1');
  }
  else{
    $(selector).removeAttr('checked');
  }
}
</script>
<!-- Advanced Search Box END -->

<div class="top_submenus search_all" style="display: none;">
  <div class="top_submenus_Industry _Many" style="width: 1060px;">
        <div class="search_header" style="border-bottom:1px dotted #99979c; padding-bottom: 5px">
          <h1 class="element-tit" style="display:block;"><input type="checkbox" value="1" class="recomm" name="recomm"><span style="color:red">筍盤推介</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="1" class="small_business" name="small_business"><span style="color:red">小本創業</span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" value="1" class="first_choice" name="first_choice"><span style="color:red">投資首選</span></h1><div class="closed_icon" style="float:right">X</div>
        </div>
        <div class="all_fields" style="border-bottom:1px dotted #99979c; padding-bottom: 5px; padding-top: 5px">
          <h1 class="element-tit" style="display:block;"><input type="checkbox" value="1" class="selectall" name="all_extra_18">任何行業</h1>
        </div>
    </div>

<style>
.top_submenus .elementBox li.left:first-child{width:120px}
.top_submenus .elementBox li.left:first-child+li{width:157px}
</style>
  <ul class="elementBox fields-u" style="border-bottom:1px dotted #99979c; padding-bottom: 5px; padding-top: 5px">    
<?PHP foreach ($categories as $cate) if('行業' == $cate['t']) { ?>
    <li class="left">
      <h3 class="element-tit">{$cate.name}</h3>
      <ul class="checkbox-block-{$cate.id}">
        <li><input type="checkbox" name="checkbox_block_{$cate.id}_all" value="1" class="checkedall_{$cate.id}" onclick="checkall('ul.checkbox-block-{$cate.id} input',$(this));"><span class="element-name" style="font-weight:bold">所有類別</span></li>
        <?PHP if ('飲食業' == $cate['name']) { ?>
          <?PHP $count=0;foreach ($categories as $cate2) if('菜式' == $cate2['t'] || '食店' == $cate2['t']) { ++$count; ?>
            <li class="li-<?PHP echo ('菜式' == $cate2['t'])?1:2; ?> <?PHP echo ($count>5)?'displaynone':''; ?>"><input type="checkbox" name="checkbox[{$cate.id}][<?PHP echo ('菜式' == $cate2['t'])?1:2; ?>][]" value="{$cate2.id}" class="element_{$cate.id}"><span class="element-name">{$cate2.name}</span></li>
          <?PHP } ?>
        <?PHP } else if ('教育業' == $cate['name']) { ?>
          <li>
            <ul class="elementBox" style="border-bottom:1px dotted #99979c;">
              <?PHP foreach ($categories as $cate2) if('持牌狀況' == $cate2['t']) { ?>
              <li class="li-1 floatleft"><input type="checkbox" name="checkbox[{$cate.id}][1][]" value="{$cate2.id}" class="element_{$cate.id}"><span class="element-name">{$cate2.name}</span></li>
              <?PHP } ?>
              <div class="clearboth"></div>
            </ul>
          </li>
          <li style="height:5px"></li>
          <?PHP $count=0;foreach ($categories as $cate2) if('類別' == $cate2['t']) { ++$count; ?>
            <li class="li-2 <?PHP echo ($count>4)?'displaynone':''; ?>"><input type="checkbox" name="checkbox[{$cate.id}][2][]" value="{$cate2.id}" class="element_{$cate.id}"><span class="element-name">{$cate2.name}</span></li>
          <?PHP } ?>
        <?PHP } else { ?>
          <?PHP $count=0;foreach ($categories as $cate2) if($cate['name'] == $cate2['t']) { ++$count; ?>
            <li class="li-1 <?PHP echo ($count>5)?'displaynone':''; ?>"><input type="checkbox" name="checkbox[{$cate.id}][1][]" value="{$cate2.id}" class="element_{$cate.id}"><span class="element-name">{$cate2.name}</span></li>
          <?PHP } ?>
        <?PHP } ?>
      </ul>
      <div class="more-button"><a href="javascript:tb_show('{$cate.name}',{$cate.id});"><img style="width:53px;height:23px;position:relative;left:-10px" src="{:SITE_PATH}Public/zh/images/more.png" /></a></div>
    </li>
<?PHP } ?>
    <div class="clearboth"></div>
  </ul>

  <ul class="elementBox" style="border-bottom:1px dotted #99979c; padding-bottom: 5px; padding-top: 5px">    
    <li class="left" style="width: 184px;">
      <h3 class="element-tit">投資金額</h3>
      <ul class="invest">
        <li><input type="checkbox" name="extra_fields_19_all" value="1" class="checkedall_19"><span class="element-name">投資金額不限</span></li>
              <li><input type="checkbox" name="extra_19[]" value="48" class="element_19"><span class="element-name">HK$100,000或以下</span></li>
              <li><input type="checkbox" name="extra_19[]" value="49" class="element_19"><span class="element-name">HK$100,001-300,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="50" class="element_19"><span class="element-name">HK$300,001-500,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="51" class="element_19"><span class="element-name">HK$500,001-800,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="52" class="element_19"><span class="element-name">HK$800,001-1,500,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="149" class="element_19"><span class="element-name">HK$1,500,001-2,500,000</span></li>
              <li><input type="checkbox" name="extra_19[]" value="150" class="element_19"><span class="element-name">HK$2,500,000以上</span></li>
            </ul>
    </li>
    <li class="left" style="width: 157px;">
      <h3 class="element-tit">利潤</h3>
      <input type="checkbox" name="extra_5[]" value="0-1" class="element_5"><span class="element-name">裝修/設備/客戶轉讓</span>
      <div>
      <ul class="Profit">
        <li><input type="checkbox" name="extra_5[]" value="0-2" class="checkedall_5 element_5"><span class="element-name">利潤不限</span></li>
        <li><input type="checkbox" name="extra_5[]" value="0-10000" class="element_5"><span class="element-name">HK$10,000 或以下</span></li>
        <li><input type="checkbox" name="extra_5[]" value="10001-20000" class="element_5"><span class="element-name">HK$10,001-20,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="20001-30000" class="element_5"><span class="element-name">HK$20,001-30,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="30001-40000" class="element_5"><span class="element-name">HK$30,001-40,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="40001-50000" class="element_5"><span class="element-name">HK$40,001-50,000</span></li>
        <li><input type="checkbox" name="extra_5[]" value="50001-99999999" class="element_5"><span class="element-name">HK$50,000 以上</span></li>
      </ul>
      </div>
    </li>
    <li class="left" style="width: 100px;">
      <h3 class="element-tit">參與程度</h3>
      <ul class="Participate">
      <li><input type="checkbox" name="extra_fields_12_all" value="1" class="checkedall_12"><span class="element-name">參與程度不限</span></li>
              <li><input type="checkbox" name="extra_12[]" value="40" class="element_12"><span class="element-name">投資者</span></li>
              <li><input type="checkbox" name="extra_12[]" value="5" class="element_12"><span class="element-name">全職營運</span></li>
              <li><input type="checkbox" name="extra_12[]" value="41" class="element_12"><span class="element-name">兼職營運</span></li>
            </ul>
    </li>
    <li class="left" style="width: 100px;">
      <h3 class="element-tit">回本期</h3>
      <ul class="Back">
        <li><input type="checkbox" name="extra_fields_16_all" value="1" class="checkedall_16"><span class="element-name">回本期不限</span></li>
        <li><input type="checkbox" name="extra_16[]" value="0-6" class="element_16"><span class="element-name">6個月或以下</span></li>
        <li><input type="checkbox" name="extra_16[]" value="6.1-12" class="element_16"><span class="element-name">7個月-12個月</span></li>
        <li><input type="checkbox" name="extra_16[]" value="12.1-24" class="element_16"><span class="element-name">13個月-24個月</span></li>
        <li><input type="checkbox" name="extra_16[]" value="24.1-9999999" class="element_16"><span class="element-name">24個月以上</span></li>

      </ul>
    </li>
    <li class="left" style="width: 157px;">
      <h3 class="element-tit">面積</h3>
      <ul class="Square">
        <li><input type="checkbox" name="extra_fields_7_all" value="1" class="checkedall_7"><span class="element-name">面積不限</span></li>
        <li><input type="checkbox" name="extra_7[]" value="0-200" class="element_7"><span class="element-name">200平方呎 或以下</span></li>
        <li><input type="checkbox" name="extra_7[]" value="201-500" class="element_7"><span class="element-name">201-500平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="501-800" class="element_7"><span class="element-name">501-800平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="801-1200" class="element_7"><span class="element-name">801-1,200平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="1201-2000" class="element_7"><span class="element-name">1,201-2,000平方呎</span></li>
        <li><input type="checkbox" name="extra_7[]" value="2001-99999999" class="element_7"><span class="element-name">2,000平方呎以上</span></li>
      </ul>
    </li>
    <li class="left" style="width: 157px;">
      <h3 class="element-tit">租金</h3>
      <ul class="Rent">
        <li><input type="checkbox" name="extra_fields_6_all" value="1" class="checkedall_6"><span class="element-name">租金不限</span></li>
        <li><input type="checkbox" name="extra_6[]" value="0-10000" class="element_6"><span class="element-name">HK$10,000或以下</span></li>
        <li><input type="checkbox" name="extra_6[]" value="10001-30000" class="element_6"><span class="element-name">HK$10,001-30,000</span></li>
        <li><input type="checkbox" name="extra_6[]" value="30001-50000" class="element_6"><span class="element-name">HK$30,001-50,000</span></li>
        <li><input type="checkbox" name="extra_6[]" value="50001-80000" class="element_6"><span class="element-name">HK$50,001-80,000</span></li>
        <li><input type="checkbox" name="extra_6[]" value="80001-100000" class="element_6"><span class="element-name">HK$80,001-100,000</span></li>
         <li><input type="checkbox" name="extra_6[]" value="100001-99999999" class="element_6"><span class="element-name">HK$100,000以上</span></li>
      </ul>
    </li>
    <div class="clearboth"></div>
  </ul>

  <div class="submit-buttons" style="float:right; margin:10px"><a href="javascript:(function(){$('.search_all input').removeAttr('checked');close_div();})();"><img src="{:SITE_PATH}Public/zh/images/cancel.png" />&nbsp;&nbsp;&nbsp;&nbsp;<a href="javascript:close_div();"><img src="{:SITE_PATH}Public/zh/images/yes.png" /></a></a></div>
</div>
<!-- Input Select all END -->

<!-- Input Area START -->
                    <div class="input-append">
				      <input class="input-small" type="text" name="area" placeholder="地區">
                      <div class="btn-group">
                        <button class="btn dropdown-toggle" data-toggle="dropdown" onclick="popup_box($('.Area'), $(this))">
                          <span class="caret"></span>
                        </button>
                      </div>
                    </div>

<div class="top_submenus Area" style="display: none;"><div class="closed_icon">X</div>
      <ul class="elementBox">
        <li class="left">
          <h2 class="element-tit_2">經營場所類別</h2>
          <ul>
          	<li><input type="checkbox" name="extra_fields_20_all" value="-1" class="checkedall_20"><span class="element-tit">任何經營場所類別</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="151" class="element_20"><span class="element-name">地舖</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="152" class="element_20"><span class="element-name">商場舖</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="153" class="element_20"><span class="element-name">樓上舖</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="154" class="element_20"><span class="element-name">商業大廈</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="155" class="element_20"><span class="element-name">網上店</span></li>
                      <li style="margin-left: 18px;"><input type="checkbox" name="extra_20[]" value="156" class="element_20"><span class="element-name">其他</span></li>
                    </ul>
        </li>
        <div style="width: 1020px;">
         <h2 class="element-tit_2">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;地區</h2>
        <li>&nbsp;&nbsp;&nbsp;&nbsp;<input type="checkbox" name="extra_fields_17_all" value="" class="checkedall_17"><span class="element-tit">&nbsp;&nbsp;覆盖全港</span></li>
      <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">香港島區</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_1" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">全香港島</span></li>
        <li class="add-left2">
	        <ul class="clearfix"> 
		        <li><input type="checkbox" name="extra_17[]" value="14" class="element_17"><span class="element-name">中西區</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="15" class="element_17"><span class="element-name">灣仔區</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="16" class="element_17"><span class="element-name">銅鑼灣</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="130" class="element_17"><span class="element-name">港島東區</span></li>
		        <li><input type="checkbox" name="extra_17[]" value="131" class="element_17"><span class="element-name">港島南區</span></li>
	        </ul>
	    </li>
      </ul>
    </li>

      <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">九龍區</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_2" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">全九龍</span></li>
        <li class="add-left2">
	         <ul class="clearfix">
	        <li><input type="checkbox" name="extra_17[]" value="22" class="element_17"><span class="element-name">油尖旺區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="25" class="element_17"><span class="element-name">深水埗區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="23" class="element_17"><span class="element-name">九龍城區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="26" class="element_17"><span class="element-name">黃大仙區</span></li>
	        <li><input type="checkbox" name="extra_17[]" value="24" class="element_17"><span class="element-name">觀塘區</span></li>
	        </ul>
    	</li>
      </ul>
    </li>
     <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">新界區</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_3" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">全新界</span></li>
        <li class="add-left2">
        <ul class="clearfix">
        <li><input type="checkbox" name="extra_17[]" value="31" class="element_17"><span class="element-name">沙田區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="38" class="element_17"><span class="element-name">馬鞍山</span></li>
        <li><input type="checkbox" name="extra_17[]" value="27" class="element_17"><span class="element-name">大埔區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="32" class="element_17"><span class="element-name">西貢區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="30" class="element_17"><span class="element-name">將軍澳</span></li>
        <li><input type="checkbox" name="extra_17[]" value="33" class="element_17"><span class="element-name">新界北區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="29" class="element_17"><span class="element-name">荃灣區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="34" class="element_17"><span class="element-name">屯門區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="35" class="element_17"><span class="element-name">天水圍</span></li>
        <li><input type="checkbox" name="extra_17[]" value="36" class="element_17"><span class="element-name">元朗區</span></li>
        <li><input type="checkbox" name="extra_17[]" value="133" class="element_17"><span class="element-name">東涌</span></li>
        <li><input type="checkbox" name="extra_17[]" value="28" class="element_17"><span class="element-name">離島區</span></li>

        </ul>
         </li>
      </ul>
    </li>
    </div>
     <li class="left" style="width: 120px;">
      <h2 class="element-tit_2">地鐵沿線</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_4" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">任何地鐵沿線</span></li>
        <li class="add-left2">
        <ul class="clearfix">
        <li><input type="checkbox" name="extra_17[]" value="176" class="element_17"><span class="element-name">港島線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="189" class="element_17"><span class="element-name">西港島線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="177" class="element_17"><span class="element-name">觀塘線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="178" class="element_17"><span class="element-name">將軍澳線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="179" class="element_17"><span class="element-name">東鐵線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="180" class="element_17"><span class="element-name">馬鞍山線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="184" class="element_17"><span class="element-name">沙中線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="181" class="element_17"><span class="element-name">荃灣線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="182" class="element_17"><span class="element-name">西鐵線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="183" class="element_17"><span class="element-name">東涌線/迪士尼線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="185" class="element_17"><span class="element-name">機場快線</span></li>
        <li><input type="checkbox" name="extra_17[]" value="186" class="element_17"><span class="element-name">其他</span></li>
        </ul>
         </li>
      </ul>
    </li>
       <li class="left" style="width: 100px;">
      <h2 class="element-tit_2">香港境外</h2>
      <ul class="hkd">
        <li><input type="checkbox" name="sub_extra_17_5" value="1" class="element_17 sub_checkall"><span class="element-name element-tit_2">所有地區</span></li>
        <li class="add-left2">
         <ul class="clearfix">
        <li><input type="checkbox" name="extra_17[]" value="147" class="element_17"><span class="element-name">中國內地</span></li>
        <li><input type="checkbox" name="extra_17[]" value="148" class="element_17"><span class="element-name">海外業務</span></li>
		</ul>
        </li>
      </ul>
    </li>
      </ul>
    </div>
<!-- Input Area END -->

				    <input class="input-small" type="text" id="keyword" name="keyword" value="" placeholder="輸入關鍵字"/>

				    <input type="hidden" id="idn" name="id" value="{$list.id}" />
                    <input type="hidden" id="typen" name="type" value="{$type}" />
				    <a href="javascript:document.getElementById('search-form').submit();"><img src="{:SITE_PATH}Public/Img/Buy/search_btn.png" /></a>
				    </form>
<!-- Search form END -->

                <div class="frame-box-div">
                <table class="table table-striped">
	              <thead>
	                <tr>
	                    <th width="120">項目名稱<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>行業<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>出讓項目<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>每月利潤<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>定價<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th style="text-align:center">回本期<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th style="text-align:center">狀態<a href="#"><div class="inline-block"><span class="caret"></span></div></a></th>
	                    <th>網頁位置</th>
	                    <th>顯示</th>
	                    <th>動作</th>
	                </tr>
	              </thead>
	              <tbody>
	               <volist name="list" id="vo">
	                <tr <if condition="$current eq $vo['id']">class="warning"</if>>
	                    <td>{$vo.title}</td>
	                    <td><?PHP echo $catelist[$vo['c_field']]; ?></td>
	                    <td>{$vo.codename}</td>
	                    <td><if condition="$vo['profit_option'] eq '1'">${$vo.profit}<else/>{$vo.profit_text}</if></td>
	                    <td>${$vo.price}</td>
	                    <td style="text-align:center">{$vo.recovery_period}月</td>
	                    <td style="text-align:center">{$vo.status}</td>
	                    <td>位置：{$vo.position}</td>
	                    <td><input style="position:relative;left:4px" type="checkbox" class="status-checkbox" name="status_group[]" <if condition="$vo['visible'] eq 'on'">checked</if>></td>
	                    <td>
	                    <a href="{:U('edit',array('id'=>$vo['id'],'type'=>$type,'pid'=>$pid))}">編輯</a>&nbsp;｜&nbsp;
                        <a href="javascript:void(0);" onclick="del('{:U('del',array('id'=>$vo['id'],'type'=>$type))}');">刪除</a></td>
	                </tr>
	                </volist>
	              </tbody>
	            </table>

	            <div class="pagination pagination-right">
	              <ul>
	                {$show}
	             </ul>
	            </div>
	            </div><!--/frame-box-div-->
        </div><!--/span-->
      </div><!--/row-->

      <hr>

    </div>
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script src="__JS__/jquery.form.js"></script>
<script src="__JS__/CheckForm.js"></script>
<script src="__JS__/bootstrap-datepicker.js"></script>
<script src="__JS__/common.js"></script>
<script>
  function del(url){
	  if(url=='') return false;
      if(window.confirm('Are you sure to delete this record?')){	  
		  $.get(url,function(responseText){
			    var info=responseText['info'];
		        var status=responseText['status'];
		        var url=responseText['url'];
		        if(status==1){
		        alert(info)
		        window.location.href=url;
		        } else alert(info);
		  });
		  return true;
	  }
  }

function popup_box(popdiv,btn){
  if('none'==popdiv.css('display')) close_div();
  popdiv.toggle('_default');
  var sp=btn.find('span');
  if(sp.hasClass('caret')){
    sp.removeClass('caret');
    sp.addClass('caretv');
  }
  else{
    sp.removeClass('caretv');
    sp.addClass('caret');
  }
}
</script>

<script>
	var close_div = function(){
		jQuery('.down_list').removeClass('down_list');
		jQuery('.Area').hide('_default');
		jQuery('.search_all').hide('_default');
		$('.caretv').addClass('caret');
		$('.caretv').removeClass('caretv');
	}

	var top_menu_cancel = function(){
		close_div();
		jQuery('h2.element-tit').next().hide();
		jQuery('.top_menu_content input[type=checkbox]').attr('checked',false);
		jQuery('.down_list_li').removeClass('down_list_li');
	}

	jQuery(window).on('load',  function() {
		jQuery('.selectall,.sub_checkall').each(function(){
			var checkboxall = jQuery(this);
			jQuery(checkboxall).click(function(){
				if(jQuery(this).attr('checked')=='checked'){
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked','checked');
				}else{
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked',false);
				};
			});
			jQuery(checkboxall).parent().next().find('input[type=checkbox]').click(function(){
				jQuery(checkboxall).attr('checked',false)
			});
		});

		jQuery('.check_one').click(function(){
			jQuery('.check_one').parent().parent().find('input[type=checkbox]').attr('checked',false);
			jQuery(this).attr('checked','checked');
			if(jQuery(this).hasClass('selectall')){
				jQuery('.check_one').parent().next().find('input[type=checkbox]').attr('checked','checked');
			}
		});

		jQuery('.font-A input[type=checkbox]').click(function(){
			jQuery(jQuery('.check_one')[0]).attr('checked',false);
		});



		jQuery('.enquiry_bottom._submit').click(function(){
			var search_id = jQuery(this).attr('search_id');
			//alert(search_id);exit;
			switch(search_id){

				case '18':
					search_18(search_id);
					break;
				case '17':
					search_17(search_id);//return false;
					break;
				case '19':
				case '5':
				case '12':
				case '16':
				case '7':
				case '6':
					search_19_5_12_16_7_6(search_id);
					break;
			}
			jQuery('#ext_18_search_frm').submit();
		});
		var search_19_5_12_16_7_6 = function(search_id){
			var arr = [];
			jQuery('.element_field_'+search_id+':checked').each(function(){
				arr.push( jQuery(this).val() );
			});
			jQuery('#ext_18_search_frm [name=extra_fields_'+search_id+']').val( arr.join(',') );
		}
		var search_17 = function(search_id){
			var arr2 = [];
			var arr = [];
			jQuery('h3.element-tit .checkbox_all').each(function(){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				//if(checked){

						if( jQuery(this).parent().parent().find('.element_field_17:checked').length>0 ){
							jQuery(this).parent().parent().find('.element_field_17:checked').each(function(){
								if(jQuery(this).val())arr.push( jQuery(this).val() );
							});
						}
						jQuery('#ext_18_search_frm [name=extra_fields_17]').val( arr.join(',') );

						if( jQuery(this).parent().parent().find('.element_field_20:checked').length>0 ){
							jQuery(this).parent().parent().find('.element_field_20:checked').each(function(){
								if(jQuery(this).val())arr2.push( jQuery(this).val() );
							});
						}
						jQuery('#ext_18_search_frm [name=extra_fields_20]').val( arr2.join(',') );

				//}
			});
		}
		var search_18 = function(search_id){
			var arr = [];
			jQuery('h3.element-tit .checkbox_all').each(function(){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				if(checked && jQuery(this).val()!=""){
					arr.push( jQuery(this).val() );
				}
				if( jQuery(this).parent().parent().find('.element_field_18:checked').length>0 ){
					jQuery(this).parent().parent().find('.element_field_18:checked').each(function(){
						if(jQuery(this).val()!=""){
							arr.push( jQuery(this).val() )
						};
					});
				}
			});

			jQuery('#extra_18').val( arr.join(',') );//alert( jQuery('#extra_18').val() );
			return true;
		};
		jQuery('h2.element-tit').each(function(){
			jQuery(this).click(function(){
				jQuery(this).next().toggle("fast");
			});
			jQuery(this).toggle(function(){jQuery(this).removeClass('up').addClass('down')},function(){jQuery(this).removeClass('down').addClass('up')});
		});


		jQuery('h2.element-tit input[type=checkbox]').each(function(){
			jQuery(this).click(function(event){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				if(checked != true){
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked',false);
				}else{
					jQuery(this).parent().next().find('input[type=checkbox]').attr('checked',true);
				}
				event.stopPropagation();
			});
		});

		//liao
		jQuery('h3.element-tit .checkbox_all').each(function(){
			jQuery(this).click(function(event){
				var checked = jQuery(this).attr('checked')=='checked'?true:false;
				if(checked != true){
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',false);
				}else{
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',true);
				}
				event.stopPropagation();
			});
		});
		//end

		jQuery('.more_link').click(function(){
			jQuery('.top_icon.icon1').trigger('click');
		});
		jQuery('.addrss_more_link').click(function(){
			jQuery('.top_icon.icon2').trigger('click');
		});
		jQuery('.bg-right').click(function(){
			close_div();
			if(jQuery(this).parent().next().css('display') != 'block'){

				jQuery(this).parent().next().toggle('_default');
				jQuery(this).addClass('down_list');

			};


		});

		var check_js = function(id){
			jQuery('.element_'+id).click(function(){
				var arr = [];
				jQuery('.element_'+id).each(function(){
					if(jQuery(this).attr('checked')) arr.push(jQuery(this).val());
				});
				//alert(arr.join(','));
				jQuery('#top-Search input[name=extra_fields_'+id+']').val( arr.join(',') );
			});
			jQuery('.checkedall_'+id).click(function(){
				if(jQuery(this).attr('checked') == 'checked'){
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',true);

					var arr = [];
					jQuery('.element_'+id).each(function(){
						if(jQuery(this).attr('checked')) arr.push(jQuery(this).val());
					});

					jQuery('#top-Search input[name=extra_fields_'+id+']').val( arr.join(',') );
				}else{
					jQuery(this).parent().parent().find('input[type=checkbox]').attr('checked',false);
					jQuery('#top-Search input[name=extra_fields_'+id+']').val('');
				}
			});
		}

		new check_js(18);
		new check_js(19);
		new check_js(5);
		new check_js(12);
		new check_js(16);
		new check_js(7);
		new check_js(6);
		new check_js(17);
		new check_js(20);

		jQuery('li.g-li').each(function(){
			var parentobj=jQuery(this);
			jQuery(this).find('input[type=checkbox]').click(function(event){
				if( parentobj.find('input[type=checkbox]:checked').length>0 ){
					if(!parentobj.hasClass('down_list_li')){
						parentobj.addClass('down_list_li');
					}
				}else{
					if(parentobj.hasClass('down_list_li')){
						parentobj.removeClass('down_list_li');
					}
				}
				event.stopPropagation();
			})
		});

	});
	function top_search_submit(){
		if(jQuery('#search1').val()=='行業,投資金額,利潤...') jQuery('#search1').val('');
		if(jQuery('#input_address').val()=='地區') jQuery('#input_address').val('');
		if(jQuery('.search_keyworld').val()=='輸入關鍵字') jQuery('.search_keyworld').val('');
		return true;
	}


	jQuery(window).on('load',  function() {
		jQuery('.top_icon').click(function(){
			close_div();
			if(jQuery(this).next().css('display') != 'block'){
				jQuery(this).addClass('down_list');
				jQuery(this).next().show('_default');
			};
			if(jQuery(this).next().find('input[type=checkbox]:checked').length>0 ){
				jQuery(this).parent().addClass('down_list_li');
			}	
		});
		jQuery('.closed_icon').click(function(){
			close_div();
		});
		jQuery('.top_menu_content a').click(function(){
			//alert(jQuery(this).attr('searchfield')+jQuery(this).attr('searchdata'));
			window.location = 'index.php?option=com_jshopping&controller=search&task=result&search_type_2=top_menu&searchfield='+jQuery(this).attr('searchfield')+'&searchdata='+jQuery(this).attr('searchdata');
			return false;	
		});
	});
</script>
</body>
</html>