<include file="Common:header" />
<!------------------------首頁主體部分------------------------>
<div id="wrapIndex" class="mb10"> 
  <!--------首頁主體部分-第一部分-------->
  <div class="wIndex01"> 
    <!--------首頁主體部分-第一部分-第一列-------->
    <div class="wIndex01_01 mr10 fl"><!------------------------滾動焦點圖代碼------------------------>
      <div id="playBox">
        <div class="pre"></div>
        <div class="next"></div>
        <div class="smalltitle">
          <ul>
            <volist name="banners" id="vo">
            <li <if condition="$i eq 1">class="thistitle"</if>></li>
            </volist>
          </ul>
        </div>
        <ul class="oUlplay">
          <volist name="banners" id="vo">
          <li><a href="<?PHP echo 'http'==strtolower(substr($vo['href'],0,4))?$vo['href']:'http://'.$vo['href']; ?>"><img src="{:SITE_PATH}{$vo.url}" /></a></li>
          </volist>
        </ul>
      </div>
    </div>
    <!--------首頁主體部分-第一部分-第二列-------->
    <div class="wIndex01_02 mr10 fl">
      <ul>
        <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_01img.jpg" /></a></li>
        <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_02img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_03img.jpg" /></a></li>
        <li class="mr10 mt6"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_04img.jpg" /></a></li>
        <li class="mr10 mt6"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_05img.jpg" /></a></li>
        <li class="mt6"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_06img.jpg" /></a></li>
      </ul>
    </div>
    <!--------首頁主體部分-第一部分-第三列-------->
    <div class="wIndex01_03 fl">
      <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_03_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
      <div class="u-div">
        <ul>
          <volist name="hot" id="vo">
          <li class="bb_acacac mb10"><a href="{:U('Project/project_detail',array('id'=>$vo['id']))}">{$vo.codename} {$vo.title}</a>
            <p class="mt10 mb10">{$text_dingjia}：${$vo.price}</p>
            <if condition="$vo['profit_option'] eq 1"><p class="mb8">{$text_cankaolirun}：${$vo.profit}</p></if>
          </li>
          </volist>
        </ul>
      </div>
    </div>
  </div>
  <!--------首頁主體部分-第二部分-------->
  <div class="wIndex02 mt10">
    <ul>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_01img.jpg" /></a></li>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_02img.jpg" /></a></li>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_03img.jpg" /></a></li>
      <if condition="isset ($ads_1[0])">
      <li><a href="{$ads_1[0]['href']}"><img src="{:SITE_PATH}{$ads_1[0]['image']}" style="width:250px;height:180px" /></a></li>
      <else/>
      <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_04img.jpg" /></a></li>
      </if>
    </ul>
  </div>
  <!--------首頁主體部分-第三部分-------->
  <div class="wIndex03">
    <div class="wIndex03_01 b_aeaeae fl">
      <ul>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_01_01img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_01_02img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_01_03img.jpg" /></a></li>
      </ul>
    </div>
    <div class="wIndex03_02 b_aeaeae fl ml10 mr10">
      <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_02_title.png" /><a href="{:U('News/index')}" class="fs13 pa">更多</a></h1>
      <h2>{$news.title}</h2>
      <p id="news-desc-p"></p>
      <p class="floatright"><a href="{:SITE_PATH}{$news.pdf}">閱讀全文</a></p>
    </div>
    <if condition="isset ($ads_2[0])">
    <div class="wIndex03_03 fl"><a href="{$ads_2[0]['href']}"><img src="{:SITE_PATH}{$ads_2[0]['image']}" style="width:250px;height:210px" /></a></div>
    <else/>
    <div class="wIndex03_03 fl"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_03_01img.jpg" /></a></div>
    </if>
  </div>
  <!--------首頁主體部分-第四部分-------->
  <div class="wIndex04 b_aeaeae pr">
    <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex04_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
    <h2 class="pa"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a></h2>
    <h3 class="pa">
    <a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a>
    </h2>
    <div class="page">
      <ul class="page-u">
      </ul>
    </div>
    <table width="95%" border="0" cellspacing="0" cellpadding="0" id="project-table">
      <tr>
        <th scope="col">{$text_daihaomingcheng}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_churangxiangmu}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_cankaolirun}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_baokuocunhuo}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_huibenqi}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_dingjia}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_gongkuan}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_mianji}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_zujin}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_canyuchengdu}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">{$text_xiangmuqingkuang}<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col"><img src="{:SITE_PATH}Public/{$lang}/images/select.png" width="24" height="24" /></th>
      </tr>
    </table>
    <div class="page">
      <ul class="page-u">
      </ul>
    </div>
  </div>
</div>
<script>
$(function(){
  var news_desc="{$news.description|str_replace=PHP_EOL,'',###}";
  $('#news-desc-p').text(news_desc.substr(0,90)+"......");
});
</script>
<include file="Common:footer" />