<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/layout.css">
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/public.css">
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/reset.css">
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script type="text/javascript" src="{:SITE_PATH}Public/{$lang}/js/scrollImg.js"></script>
<script src="__JS__/bootstrap.min.js"></script>
<script language="javascript"> 
$(document).ready(function(){
	$(window).scroll(function (){
		var offsetTop = $(window).scrollTop() + 80 +"px";
		$("#Float").animate({top : offsetTop },{ duration:500 , queue:false });
	}); 
}); 
</script>
<title>創富易業務轉讓有限公司</title>
</head>

<body>
<!------------------------頁頭------------------------>
<div id="header" class=" mb10">
  <div id="Float"><img src="{:SITE_PATH}Public/{$lang}/images/search_chance.jpg" />
    <h5>4</h5>
  </div>
  <div class="hTop pr"> 
    <!--------Logo-------->
    <h1 title="logo" class="fl mt12"></h1>
    <!--------聯系方式+sns-------->
    <div class="hInfo pa">
      <ul>
        <li class="mt10 mr8"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/snsCall.jpg" /></a><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/snsChat.jpg" /></a></li>
        <li class="mt15 mr8 chat">(852)9422 8989</li>
         <li class="mt15 mr8 chat">|</li>
        <li class="mt12 mr20 hot">查詢熱線:(852)8108 0303</li>
        <li class="mt10"><a href="{:U('', array('lang'=>'zh'))}"><img src="{:SITE_PATH}Public/{$lang}/images/zh.jpg" /></a><a href="{:U('', array('lang'=>'cn'))}"><img src="{:SITE_PATH}Public/{$lang}/images/cn.jpg" /></a><a href="{:U('', array('lang'=>'en'))}"><img src="{:SITE_PATH}Public/{$lang}/images/en.jpg" /></a></li>
      </ul>
    </div>
    <!--------我想找：行業，投資金額，利潤下拉彈框-------->
    <!--------我想找：行業，投資金額，利潤下拉選擇框-------->
    
    <!--------搜索-------->
    <div class="search mt24 fr">
      <div class="searchTitle"></div>
      <div>
        <include file="./Application/Home/View/Common/search.html" />
      </div>
    </div>
  </div>
  <!--------導航-------->
  <div class="hNav fs15">
    <ul>
      <li><a href="index.html" class="current">首頁</a></li>
      <li><a href="about.html">關于我們</a></li>
      <li><a href="noticeUs.html">創富須知</a></li>
      <li><a href="buyers.html">買家收購業務</a></li>
      <li><a href="sale.html">賣家出讓業務</a></li>
      <li><a href="products.html">現正出讓業務</a></li>
      <li><a href="noticeSale.html">營商須知</a></li>
      <li><a href="link.html">相關連結</a></li>
      <li class="last"><a href="contact.html">聯絡我們</a></li>
    </ul>
  </div>
</div>
<!------------------------首頁主體部分------------------------>
<div id="wrapIndex" class="mb10"> 
  <!--------首頁主體部分-第一部分-------->
  <div class="wIndex01"> 
    <!--------首頁主體部分-第一部分-第一列-------->
    <div class="wIndex01_01 mr10 fl"><!------------------------滾動焦點圖代碼------------------------>
      <div id="playBox">
        <div class="pre"></div>
        <div class="next"></div>
        <div class="smalltitle">
          <ul>
            <volist name="banners" id="vo">
            <li <if condition="$i eq 1">class="thistitle"</if>></li>
            </volist>
          </ul>
        </div>
        <ul class="oUlplay">
          <volist name="banners" id="vo">
          <li><a href="#"><img src="{:SITE_PATH}{$vo.url}" /></a></li>
          </volist>
        </ul>
      </div>
    </div>
    <!--------首頁主體部分-第一部分-第二列-------->
    <div class="wIndex01_02 mr10 fl">
      <ul>
        <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_01img.jpg" /></a></li>
        <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_02img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_03img.jpg" /></a></li>
        <li class="mr10 mt6"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_04img.jpg" /></a></li>
        <li class="mr10 mt6"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_05img.jpg" /></a></li>
        <li class="mt6"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_02_06img.jpg" /></a></li>
      </ul>
    </div>
    <!--------首頁主體部分-第一部分-第三列-------->
    <div class="wIndex01_03 fl">
      <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_03_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
      <div class="u-div">
        <ul>
          <volist name="hot" id="vo">
          <li class="bb_acacac mb10"><a href="#">{$vo.codename} {$vo.title}</a>
            <p class="mt10 mb10">定價：${$vo.price}</p>
            <p class="mb8">參考利潤(每月)：${$vo.profit}</p>
          </li>
          </volist>
        </ul>
      </div>
    </div>
  </div>
  <!--------首頁主體部分-第二部分-------->
  <div class="wIndex02 mt10">
    <ul>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_01img.jpg" /></a></li>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_02img.jpg" /></a></li>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_03img.jpg" /></a></li>
      <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex02_04img.jpg" /></a></li>
    </ul>
  </div>
  <!--------首頁主體部分-第三部分-------->
  <div class="wIndex03">
    <div class="wIndex03_01 b_aeaeae fl">
      <ul>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_01_01img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_01_02img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_01_03img.jpg" /></a></li>
      </ul>
    </div>
    <div class="wIndex03_02 b_aeaeae fl ml10 mr10">
      <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_02_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
      <h2>樓市「雙辣招」，投資者資金另覓新出路</h2>
      <p>面對香港特區政府推出樓市「雙辣招」壓抑樓價，加上投資市場對美國聯儲局退市時間及加息周期而作出不同的預測，令大量投機資金準備退岀樓市，尋找資金新出路。由於受惠國內旅客帶動本港內銷市場(例如:餐飲業及零售業)，加上相關行業投資回報相對穩定可觀，從而吸引投資者把資金轉向投資收購生意(如餐飲業)，作為長遠投資工具。</p>
    </div>
    <div class="wIndex03_03 fl"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_03_01img.jpg" /></a></div>
  </div>
  <!--------首頁主體部分-第四部分-------->
  <div class="wIndex04 b_aeaeae pr">
    <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex04_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
    <h2 class="pa"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a></h2>
    <h3 class="pa">
    <a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a>
    </h2>
    <div class="page">
      <ul class="page-u">
      </ul>
    </div>
    <table width="95%" border="0" cellspacing="0" cellpadding="0" id="project-table">
      <tr>
        <th scope="col">代號名稱<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">出讓項目<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">參考利潤<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">包括存貨其他<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">回本期(月)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">定價(HKD)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">供款(月)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">面積(平方尺)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">租金(月)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">參與程度<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">項目情況<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col"><img src="{:SITE_PATH}Public/{$lang}/images/select.png" width="24" height="24" /></th>
      </tr>
    </table>
    <div class="page">
      <ul class="page-u">
      </ul>
    </div>
  </div>
</div>
<!------------------------頁尾------------------------>
<div id="footer">
  <div class="fMenu">
    <ul class="first">
      <li><a href="#" class="title">關于我們</a></li>
      <li><a href="#">公司簡介</a></li>
      <li><a href="#">我們的價值觀</a></li>
      <li><a href="#">服務範圍</a></li>
      <li><a href="#">聯絡我們</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">創富須知</a></li>
      <li><a href="#">創富做老板</a></li>
      <li><a href="#">創富模式之比較</a></li>
      <li><a href="#">何謂「業務轉讓」</a></li>
      <li><a href="#">爲何選擇業務轉讓</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">買家收購業務</a></li>
      <li><a href="#">買家收購程序</a></li>
      <li><a href="#">爲何選擇我們</a></li>
      <li><a href="#">買家查詢</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">賣家出讓業務</a></li>
      <li><a href="#">賣家出讓程序</a></li>
      <li><a href="#">業務估值</a></li>
      <li><a href="#">爲何選擇我們</a></li>
      <li><a href="#">賣家查詢</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">現正出讓業務</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">營商須知</a></li>
      <li><a href="#">開業資料庫</a></li>
      <li><a href="#">營業資料庫</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">相關連結</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">聯絡我們</a></li>
    </ul>
  </div>
  <div class="fCopyright">
    <div class="fCopyright_in pr"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/footer_logo.jpg" /></a>
      <dl class="pa fl">
        <dd>© 2005 - 2015創富易業務轉讓有限公司 天域國際投資投資成員</dd>
        <dd>版權所有 不得轉載</dd>
      </dl>
      <ul class="pa">
        <li><a href="#">版權聲明</a></li>
        <li><a href="#">免責條款</a></li>
        <li><a href="#">聯絡我們</a></li>
        <li><a href="#">個人私隱政策</a></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="{:SITE_PATH}Public/{$lang}/js/scrolltopcontrol.js"></script>
<script>
function update_query(){
  var n=$('.query-selected').length;
  if($('#query-img-all').hasClass('query-selected')){
    n--;
  }
  $('#Float').find('h5').text(n);
}

function ajax_search_op_home(data){
data=eval('('+data+')');
$('#project-table').html('');

var ths=['代號名稱','出讓項目','參考利潤','包括存貨其他','回本期(月)','定價(HKD)','供款(月)','面積(平方尺)','租金(月)','參與程度','項目情況'];
var thfs=['codename','title','profit','store','recovery_period','price','allowance','square','rent','participation','situation'];
var th_html='<tr>';
var i;
for(i=0;i<ths.length;++i){
  th_html+='<th scope="col">'+ths[i]+'<a href="javascript:ajax_submit_home(null,'+"'"+thfs[i]+"','img-"+thfs[i]+"')"+'"><img src="Public/zh/images/arrow_bottom.png" id="img-'+thfs[i]+'" /></a></th>';
}
th_html+='<th scope="col"><a href="'+"javascript:(function(){var img=$('.query-img');if(!$('#query-img-all').hasClass('query-selected')){img.attr('src','Public/zh/images/selectok.png').addClass('query-selected');}else{img.attr('src','Public/zh/images/select.png').removeClass('query-selected');}update_query();})();"+'"><img class="query-img" id="query-img-all" src="Public/zh/images/select.png" width="24" height="24" /></a></th></tr>';
$('#project-table').append(th_html);

for(i=0;i<data['data'].length;++i){
  var html='<tr>';
  if(i%2==1){
    var tdclass='class="bg_f3f3f3"';
  }
  else{
    var tdclass='';
  }
  if('on'==data['data'][i]['estate_recomm']){
    html+='<td '+tdclass+'><div style="position:relative;top:3px;display:inline-block">'+data['data'][i]['codename']+'</div><img src="Public/zh/images/estate_recomm.png" class="floatright" /></td>';
  }
  else{
    html+='<td '+tdclass+'>'+data['data'][i]['codename']+'</td>';
  }
  html+='<td '+tdclass+'>'+data['data'][i]['title']+'</td>';
  if(1==data['data'][i]['profit_option']){
    html+='<td '+tdclass+'>$'+data['data'][i]['profit']+'</td>';
  }
  else{
    html+='<td '+tdclass+'>'+data['data'][i]['profit_text']+'</td>';
  }
  html+='<td '+tdclass+'>'+data['data'][i]['store']+'</td>';
  html+='<td '+tdclass+'>'+data['data'][i]['recovery_period']+'月</td>';
  html+='<td '+tdclass+'>$'+data['data'][i]['price']+'</td>';
  html+='<td '+tdclass+'>$'+data['data'][i]['allowance']+'</td>';
  html+='<td '+tdclass+'>'+data['data'][i]['square']+'</td>';
  html+='<td '+tdclass+'>$'+data['data'][i]['rent']+'</td>';
  html+='<td '+tdclass+'>'+data['data'][i]['participation']+'</td>';
  html+='<td '+tdclass+'>'+data['data'][i]['situation']+'</td>';
  html+='<td '+tdclass+'><a href="'+"javascript:(function(){var img=$('#query-img-"+i+"');if(!img.hasClass('query-selected')){img.attr('src','Public/zh/images/selectok.png').addClass('query-selected');}else{img.attr('src','Public/zh/images/select.png').removeClass('query-selected');}update_query();})();"+'"><img class="query-img" id="query-img-'+i+'" src="Public/zh/images/select.png" width="24" height="24" /></a></td>';
  html+='</tr>';
  $('#project-table').append(html);
}

$('.page-u').html('');
for(i=0;i<data['numpages'];++i){
  var pagei=i+1;
  if(pagei==data['p']){
    $('.page-u').append('<li><a href="javascript:void(0)" class="page-index currentPage">'+pagei+'</a></li>');
  }
  else{
    $('.page-u').append('<li><a href="javascript:void(0)" class="page-index">'+pagei+'</a></li>');
  }
}
$('.page-u').append('<li><a href="javascript:void(0)" class="arrow-right-a"><img src="Public/zh/images/arrow_right.png" /></a></li>');

$('.page-index').each(function(){
  var page=parseInt($(this).text());
  if(!$(this).hasClass('currentPage')){
    $(this).click(function(){
      $('#search-form').ajaxSubmit({
        url:"index.php?m=Home&c=Index&a=AjaxSearch&type=project&nr=20&visible=1&p="+page,
        success:function(data){
          ajax_search_op_home(data);
        },
        error:function(xhr){
          alert('查詢失敗，請重試');
        }
      });
    });
  }
});
if(data['p']<data['numpages']){
  $('.arrow-right-a').click(function(){
    var page=parseInt(data['p'])+1;
    $('#search-form').ajaxSubmit({
      url:"index.php?m=Home&c=Index&a=AjaxSearch&type=project&nr=20&visible=1&p="+page,
      success:function(data){
        ajax_search_op_home(data);
      },
      error:function(xhr){
        alert('查詢失敗，請重試');
      }
    });
  });
}
}

function ajax_submit_home(p,o,spanid){
  var _url="index.php?m=Home&c=Index&a=AjaxSearch&type=project&nr=20&visible=1";
  if(null!==p){
    $('#curpage').val(p);
  }
  else{
    $('#curpage').val(1);
  }
  if(null!=o){
    if($('#order').val()==o && $('#sort').val()=='ASC'){
      $('#sort').val('DESC');
      $('#'+spanid).attr('src','Public/zh/images/arrow_bottom.png');
    }
    else{
      $('#sort').val('ASC');
      $('#project-table th>a>img').attr('src','Public/zh/images/arrow_bottom.png');
      $('#'+spanid).attr('src','Public/zh/images/arrow_up.png');
    }
    $('#order').val(o);
  }
  $('#search-form').ajaxSubmit({
    url:_url,
    //dataType:'json',
    success:function(data){
      ajax_search_op_home(data);
    },
    error:function(xhr){
      alert('查詢失敗，請重試');
    }
  });
}

var hotlist_sliding=true;
function hotlist_slide(){
  var u=$('.wIndex01_03 ul');
  var cy=parseInt(u.css('top'));
  var li_1st=$('.wIndex01_03 ul li:first-child');
  var li_h=parseInt(li_1st.css('height'));
  cy--;
  if(-li_h==cy){
    li_1st.appendTo(u);
    cy=0;
  }
  u.css('top',cy+'px');
  if(hotlist_sliding){
    setTimeout('hotlist_slide()',20);
  }
}

$(function(){
  update_query();

  // Banner css
  var banum=$('#playBox .smalltitle ul li').length;
  $('#playBox .smalltitle ul').css('margin-left',((250-20*banum)/2)+'px');

  // Hot list sliding
  setTimeout('hotlist_slide()',20);
  $('.wIndex01_03 ul').mouseover(function(){
    hotlist_sliding=false;
  });
  $('.wIndex01_03 ul').mouseleave(function(){
    hotlist_sliding=true;
    setTimeout('hotlist_slide()',20);
  });

  ajax_submit_home(null,null,null);
  $('#search-submit').click(function(){
    ajax_submit_home(null,null,null);
  });
});
</script>
</body>
</html>
