<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/zh/css/layout.css">
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/zh/css/public.css">
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/zh/css/reset.css">
<script type="text/javascript" src="{:SITE_PATH}Public/zh/js/jquery.1.4.2-min.js"></script>
<script type="text/javascript" src="{:SITE_PATH}Public/zh/js/scrollImg.js"></script>
<script language="javascript"> 
$(document).ready(function(){
	$(window).scroll(function (){
		var offsetTop = $(window).scrollTop() + 80 +"px";
		$("#Float").animate({top : offsetTop },{ duration:500 , queue:false });
	}); 
}); 
</script>
<title>創富易業務轉讓有限公司</title>
</head>

<body>
<!------------------------頁頭------------------------>
<div id="header" class=" mb10">
  <div id="Float"><img src="{:SITE_PATH}Public/zh/images/search_chance.jpg" />
    <h5>4</h5>
  </div>
  <div class="hTop pr"> 
    <!--------Logo-------->
    <h1 title="logo" class="fl mt12"></h1>
    <!--------聯系方式+sns-------->
    <div class="hInfo pa">
      <ul>
        <li class="mt10 mr8"><a href="#"><img src="{:SITE_PATH}Public/zh/images/snsCall.jpg" /></a><a href="#"><img src="{:SITE_PATH}Public/zh/images/snsChat.jpg" /></a></li>
        <li class="mt15 mr8 chat">(852)9422 8989</li>
         <li class="mt15 mr8 chat">|</li>
        <li class="mt12 mr20 hot">查詢熱線:(852)8108 0303</li>
        <li class="mt10"><a href="index.html"><img src="{:SITE_PATH}Public/zh/images/zh.jpg" /></a><a href="../cn/index.html"><img src="{:SITE_PATH}Public/zh/images/cn.jpg" /></a><a href="#"><img src="{:SITE_PATH}Public/zh/images/en.jpg" /></a></li>
      </ul>
    </div>
    <!--------我想找：行業，投資金額，利潤下拉彈框-------->
    <div class="hpopup dsn">
      <div class="line01">
        <p>飲食業</p>
        <div class="navBar">
          <label class="mr20"> <span>菜式</span></label>
          <label>
            <input name="" type="checkbox" value="" />
            <span>選擇全部</span></label>
        </div>
        <div class="list">
          <label class="mr100">
            <input name="" type="checkbox" value="" />
            <span>中式</span></label>
          <label class="mr100">
            <input name="" type="checkbox" value="" />
            <span>日式</span></label>
          <label class="mr100">
            <input name="" type="checkbox" value="" />
            <span>西式</span></label>
          <label class="mr100">
            <input name="" type="checkbox" value="" />
            <span>東南亞</span></label>
          <label>
            <input name="" type="checkbox" value="" />
            <span>其他</span></label>
        </div>
        <div class="navBar mt24">
          <label class="mr20"> <span>食店</span></label>
          <label>
            <input name="" type="checkbox" value="" />
            <span>選擇全部</span></label>
        </div>
        <div class="list">
          <ul>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>燒臘/茶餐廳</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>小廚/大排檔</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>快餐店</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>雞煲/火鍋</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>食堂</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>小食/串燒</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>米線/粥粉面</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>車仔面</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>點心/中式包點</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>外賣店</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>素食店</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>私房菜</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>酒吧</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>餐廳</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>Cafe咖啡店</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>果汁店/三文治店</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>雪糕/甜品/糖水店</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>面包西餅店</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>教室</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>食物工場</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>食品批發</span></label>
            </li>
            <li>
              <label>
                <input name="" type="checkbox" value="" />
                <span>其他</span></label>
            </li>
          </ul>
        </div>
        
      </div><div class="line02"><a href="#" class="sure">確定</a><a href="#" class="cancel">取消</a></div>
    </div>
    <!--------我想找：行業，投資金額，利潤下拉選擇框-------->
    <div class="hSelect pa dsn">
      <div class="line_01">
        <ul>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>筍盤推介</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>小本創業</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>投資首選</span></label>
          </li>
          <li class="close"> <a href="#"></a> </li>
        </ul>
      </div>
      <div class="line_02">
        <ul>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>任何行業</span></label>
          </li>
        </ul>
      </div>
      <div class="line_03">
        <ul>
          <h4>飲食業</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span class="all">所有類別</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>中式</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>西式</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>日式</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>燒臘/茶餐廳</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>小食/串燒</span></label>
          </li>
          <h5><a href="#" class="mr8">更多</a><a class="triangle" href="#"></a></h5>
        </ul>
        <ul class="w160">
          <h4>教育業(持牌或非持牌)</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span class="all">所有類別</span></label>
          </li>
          <ul class="last bb_dot mb3">
            <li class="fl mr8">
              <label>
                <input name="" type="checkbox" value="" />
                <span>持牌</span></label>
            </li>
            <li class="fl">
              <label>
                <input name="" type="checkbox" value="" />
                <span>非持牌</span></label>
            </li>
          </ul>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>補習教育中心</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>Playgroup</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>音樂/舞蹈 教育中心</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>語言教育中心</span></label>
          </li>
          <h5><a href="#" class="mr8">更多</a><a class="triangle" href="#"></a></h5>
        </ul>
        <ul>
          <h4>美容/美甲業</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span class="all">所有類別</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>美容院</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>美甲店</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>按摩/足浴護理</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>發型設計</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>其他</span></label>
          </li>
          <h5><a href="#" class="mr8">更多</a><a class="triangle" href="#"></a></h5>
        </ul>
        <ul class="w160">
          <h4>零售業</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span class="all">所有類別</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>時裝/服飾/鞋店</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>化妝/美容用品</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>零食/食品零售/便利店</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>網上零售店</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>其他</span></label>
          </li>
          <h5><a href="#" class="mr8">更多</a><a class="triangle" href="#"></a></h5>
        </ul>
        <ul class="w130">
          <h4>服務業</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span class="all">所有類別</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>洗衣店/洗衣工場</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>護老院</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>雇傭中心</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>婚禮/婚紗服務</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>寵物店</span></label>
          </li>
          <h5><a href="#" class="mr8">更多</a><a class="triangle" href="#"></a></h5>
        </ul>
        <ul class="last">
          <h4>其他</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span class="all">所有類別</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>連鎖生意</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>特許經營</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>B2B商業客戶公司</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>批發/貿易公司</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>其他</span></label>
          </li>
          <h5><a href="#" class="mr8">更多</a><a class="triangle" href="#"></a></h5>
        </ul>
      </div>
      <div class="line_03">
        <ul class="w220">
          <h4>投資金額</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>投資金額不限</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$100,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$100,000 - 300,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$300,001 - 500,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$500,001 - 800,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$800,001 - 1,500,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$1,500,000 - 2,500,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$2,500,000以上</span></label>
          </li>
        </ul>
        <ul class="w149">
          <h4>利潤</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>裝修/設備/客戶轉讓</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>利潤不限</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$10,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$10,001 - 20,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$20,001 - 30,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$30,001 - 40,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$40,001 - 50,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$50,000以上</span></label>
          </li>
        </ul>
        <ul class="w97">
          <h4>參與程度</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>參與程度不限</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>投資者</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>全職營運</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>兼職營運</span></label>
          </li>
        </ul>
        <ul class="w125">
          <h4>回本期</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>回本期不限</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>6個月或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>7個月 - 12個月</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>13個月 - 24個月</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>24個月或以上</span></label>
          </li>
        </ul>
        <ul class="w130">
          <h4>面積</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>面積不限</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>200平方尺或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>201 - 500平方尺</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>501 - 800平方尺</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>801 - 1,200平方尺</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>1,201 - 2,000平方尺</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>2,000平方尺以上</span></label>
          </li>
        </ul>
        <ul class="last">
          <h4>租金</h4>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>租金不限</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$10,000或以下</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$10,001 - 30,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$30,001 - 50,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$50,001 - 80,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$80,001 - 100,000</span></label>
          </li>
          <li>
            <label>
              <input name="" type="checkbox" value="" />
              <span>HK$100,000或以上</span></label>
          </li>
        </ul>
      </div>
      <div class="line_05"><a href="#" class="sure">確定</a><a href="#" class="cancel">取消</a></div>
    </div>
    
    <!--------搜索-------->
    <div class="search mt24 fr">
      <div class="searchTitle"></div>
      <div class="searchSelect">
        <ul>
          <li class="fl">
            <select class="wd_293">
              <option value="">行業，投資金額，利潤</option>
              <option value="1">行業，投資金額，利潤</option>
              <option value="2">行業，投資金額，利潤</option>
              <option value="3">行業，投資金額，利潤</option>
            </select>
          </li>
          <li class="fl">
            <select class="wd_176">
              <option value="">地區</option>
              <option value="1">地區</option>
              <option value="2">地區</option>
              <option value="3">地區</option>
            </select>
          </li>
          <li class="fl">
            <input value="輸入關鍵字" />
          </li>
          <li class="fl"><a href="#"><img src="{:SITE_PATH}Public/zh/images/searchIcon.jpg" /></a></li>
        </ul>
      </div>
    </div>
  </div>
  <!--------導航-------->
  <div class="hNav fs15">
    <ul>
      <li><a href="index.html" class="current">首頁</a></li>
      <li><a href="about.html">關于我們</a></li>
      <li><a href="noticeUs.html">創富須知</a></li>
      <li><a href="buyers.html">買家收購業務</a></li>
      <li><a href="sale.html">賣家出讓業務</a></li>
      <li><a href="products.html">現正出讓業務</a></li>
      <li><a href="noticeSale.html">營商須知</a></li>
      <li><a href="link.html">相關連結</a></li>
      <li class="last"><a href="contact.html">聯絡我們</a></li>
    </ul>
  </div>
</div>
<!------------------------首頁主體部分------------------------>
<div id="wrapIndex" class="mb10"> 
  <!--------首頁主體部分-第一部分-------->
  <div class="wIndex01"> 
    <!--------首頁主體部分-第一部分-第一列-------->
    <div class="wIndex01_01 mr10 fl"><!------------------------滾動焦點圖代碼------------------------>
      <div id="playBox">
        <div class="pre"></div>
        <div class="next"></div>
        <div class="smalltitle">
          <ul>
            <li class="thistitle"></li>
            <li></li>
            <li></li>
          </ul>
        </div>
        <ul class="oUlplay">
          <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_01img.jpg"</a></li>
          <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_01img.jpg"</a></li>
          <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_01img.jpg"</a></li>
        </ul>
      </div>
    </div>
    <!--------首頁主體部分-第一部分-第二列-------->
    <div class="wIndex01_02 mr10 fl">
      <ul>
        <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_02_01img.jpg" /></a></li>
        <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_02_02img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_02_03img.jpg" /></a></li>
        <li class="mr10 mt6"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_02_04img.jpg" /></a></li>
        <li class="mr10 mt6"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_02_05img.jpg" /></a></li>
        <li class="mt6"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex01_02_06img.jpg" /></a></li>
      </ul>
    </div>
    <!--------首頁主體部分-第一部分-第三列-------->
    <div class="wIndex01_03 fl">
      <h1 class="pr"><img src="{:SITE_PATH}Public/zh/images/wIndex01_03_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
      <ul>
        <li class="bb_acacac mb10"><a href="#">NS066 元朗婚紗店</a>
          <p class="mt10 mb10">定價：$550</p>
          <p class="mb8">參考利潤(每月)：$34,202</p>
        </li>
        <li class="bb_acacac mb10"><a href="#">HR090 銅鑼灣時裝店</a>
          <p class="mt10 mb10">定價：$230,000</p>
          <p class="mb8">參考利潤(每月)：$48,750</p>
        </li>
        <li><a href="#">Daisy 美孚影碟租賃店</a>
          <p class="mt10 mb10">定價：$1,220,000</p>
        </li>
      </ul>
    </div>
  </div>
  <!--------首頁主體部分-第二部分-------->
  <div class="wIndex02 mt10">
    <ul>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex02_01img.jpg" /></a></li>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex02_02img.jpg" /></a></li>
      <li class="mr10"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex02_03img.jpg" /></a></li>
      <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex02_04img.jpg" /></a></li>
    </ul>
  </div>
  <!--------首頁主體部分-第三部分-------->
  <div class="wIndex03">
    <div class="wIndex03_01 b_aeaeae fl">
      <ul>
        <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex03_01_01img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex03_01_02img.jpg" /></a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex03_01_03img.jpg" /></a></li>
      </ul>
    </div>
    <div class="wIndex03_02 b_aeaeae fl ml10 mr10">
      <h1 class="pr"><img src="{:SITE_PATH}Public/zh/images/wIndex03_02_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
      <h2>樓市「雙辣招」，投資者資金另覓新出路</h2>
      <p>面對香港特區政府推出樓市「雙辣招」壓抑樓價，加上投資市場對美國聯儲局退市時間及加息周期而作出不同的預測，令大量投機資金準備退岀樓市，尋找資金新出路。由於受惠國內旅客帶動本港內銷市場(例如:餐飲業及零售業)，加上相關行業投資回報相對穩定可觀，從而吸引投資者把資金轉向投資收購生意(如餐飲業)，作為長遠投資工具。</p>
    </div>
    <div class="wIndex03_03 fl"><a href="#"><img src="{:SITE_PATH}Public/zh/images/wIndex03_03_01img.jpg" /></a></div>
  </div>
  <!--------首頁主體部分-第四部分-------->
  <div class="wIndex04 b_aeaeae pr">
    <h1 class="pr"><img src="{:SITE_PATH}Public/zh/images/wIndex04_title.png" /><a href="#" class="fs13 pa">更多</a></h1>
    <h2 class="pa"><a href="#"><img src="{:SITE_PATH}Public/zh/images/searchicon.png" /></a></h2>
    <h3 class="pa">
    <a href="#"><img src="{:SITE_PATH}Public/zh/images/searchicon.png" /></a>
    </h2>
    <div class="page">
      <ul>
        <li><a href="#" class="currentPage">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_right.png" /></a></li>
      </ul>
    </div>
    <table width="95%" border="0" cellspacing="0" cellpadding="0">
      <tr>
        <th scope="col">代號名稱<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">出讓項目<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">參考利潤<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">包括存貨其他<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">回本期(月)<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">定價(HKD)<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">供款(月)<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">面積(平方尺)<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">租金(月)<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">參與程度<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col">項目情況<a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_bottom.png" /></a></th>
        <th scope="col"><img src="{:SITE_PATH}Public/zh/images/select.png" width="24" height="24" /></th>
      </tr>
      <tr>
        <td>Peter Chan</td>
        <td><a href="product_detail.html">Peter</a></td>
        <td>$2,000</td>
        <td>3000</td>
        <td>1月</td>
        <td>$6,900,000</td>
        <td>$20</td>
        <td>100</td>
        <td>$200</td>
        <td>投資者</td>
        <td>*歡迎查詢*</td>
        <td><img src="{:SITE_PATH}Public/zh/images/selectok.png" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">Danny Yeung</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">Danny</a></td>
        <td class="bg_f3f3f3">$20,000</td>
        <td class="bg_f3f3f3">3000</td>
        <td class="bg_f3f3f3">3月</td>
        <td class="bg_f3f3f3">$3,000</td>
        <td class="bg_f3f3f3">$100</td>
        <td class="bg_f3f3f3">100</td>
        <td class="bg_f3f3f3">$1000</td>
        <td class="bg_f3f3f3">投資者</td>
        <td class="bg_f3f3f3">*歡迎查詢*</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/selectok.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>helen yau</td>
        <td><a href="product_detail.html">test</a></td>
        <td>$2,000</td>
        <td>6000</td>
        <td>7.9<span class="bg_f3f3f3">月</span></td>
        <td>$690,000</td>
        <td><span class="bg_f3f3f3">$</span>10</td>
        <td>100</td>
        <td>$30,000</td>
        <td>兼職營運</td>
        <td><span class="bg_f3f3f3">*歡迎查詢*</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">Caleb</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">銅鑼灣商場時裝店</a></td>
        <td class="bg_f3f3f3">$7,500</td>
        <td class="bg_f3f3f3">40000(存貨)</td>
        <td class="bg_f3f3f3">10月</td>
        <td class="bg_f3f3f3">$115,000</td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">200</td>
        <td class="bg_f3f3f3">$4,500</td>
        <td class="bg_f3f3f3">&nbsp;</td>
        <td class="bg_f3f3f3">已售</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/selectok.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>HS065</td>
        <td><a href="product_detail.html">補習中介網</a></td>
        <td><span class="bg_f3f3f3">$</span>15,000</td>
        <td>53</td>
        <td>11<span class="bg_f3f3f3">月</span></td>
        <td>$651,100</td>
        <td><span class="bg_f3f3f3">$</span>4,128</td>
        <td>190</td>
        <td>$20,000</td>
        <td>全職營運</td>
        <td><span class="bg_f3f3f3">*歡迎查詢*</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">Noah</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">尖沙咀樓上美容院</a></td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">不適用</td>
        <td class="bg_f3f3f3">0月</td>
        <td class="bg_f3f3f3">$68,000</td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">600</td>
        <td class="bg_f3f3f3">$12,500</td>
        <td class="bg_f3f3f3">&nbsp;</td>
        <td class="bg_f3f3f3">已售</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>KF227</td>
        <td><a href="product_detail.html">其他行業</a></td>
        <td>$60,000</td>
        <td>53</td>
        <td>10<span class="bg_f3f3f3">月</span></td>
        <td>$600,000</td>
        <td>$32,105</td>
        <td>300</td>
        <td><span class="bg_f3f3f3">$12,000</span></td>
        <td>全職營運</td>
        <td><span class="bg_f3f3f3">*歡迎查詢*</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">KS032</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">土瓜灣洗衣店</a></td>
        <td class="bg_f3f3f3">$17,000</td>
        <td class="bg_f3f3f3">53</td>
        <td class="bg_f3f3f3">11月</td>
        <td class="bg_f3f3f3">$260,000</td>
        <td class="bg_f3f3f3">$16,695</td>
        <td class="bg_f3f3f3">400</td>
        <td class="bg_f3f3f3">$14,000</td>
        <td class="bg_f3f3f3">全職營運</td>
        <td class="bg_f3f3f3">&nbsp;</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>HR090</td>
        <td><a href="product_detail.html">銅鑼灣時裝店</a></td>
        <td>$48,750</td>
        <td>53</td>
        <td>8<span class="bg_f3f3f3">月</span></td>
        <td>$230,000</td>
        <td><span class="bg_f3f3f3">$</span>14,768</td>
        <td>150</td>
        <td><span class="bg_f3f3f3">$38,000</span></td>
        <td>兼職營運</td>
        <td><span class="bg_f3f3f3">*歡迎查詢*</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">HF167</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">港島區知名連鎖美式食店</a></td>
        <td class="bg_f3f3f3">$50,000</td>
        <td class="bg_f3f3f3">53</td>
        <td class="bg_f3f3f3">11月</td>
        <td class="bg_f3f3f3">$880,000</td>
        <td class="bg_f3f3f3">$56,505</td>
        <td class="bg_f3f3f3">2000</td>
        <td class="bg_f3f3f3">$68,000</td>
        <td class="bg_f3f3f3">兼職營運</td>
        <td class="bg_f3f3f3">*歡迎查詢*</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/selectok.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>KF284</td>
        <td><a href="product_detail.html">尖沙咀地鋪意式西餐廳及酒吧</a></td>
        <td>$136,000</td>
        <td>53</td>
        <td>11<span class="bg_f3f3f3">月</span></td>
        <td>$100,000</td>
        <td>$115,579</td>
        <td>1800</td>
        <td><span class="bg_f3f3f3">$15,000</span></td>
        <td><span class="bg_f3f3f3">投資者</span></td>
        <td><span class="bg_f3f3f3">*歡迎查詢*</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">HF164</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">炮台山靓裝西餅CAFE</a></td>
        <td class="bg_f3f3f3">$18,000</td>
        <td class="bg_f3f3f3">53</td>
        <td class="bg_f3f3f3">8月</td>
        <td class="bg_f3f3f3">$350</td>
        <td class="bg_f3f3f3">$22</td>
        <td class="bg_f3f3f3">600</td>
        <td class="bg_f3f3f3">$53</td>
        <td class="bg_f3f3f3">全職營運</td>
        <td class="bg_f3f3f3">&nbsp;</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>Christopher</td>
        <td><a href="product_detail.html">屯門冷凍海産餐飲供應商</a></td>
        <td>$65,000</td>
        <td>200000(存貨)</td>
        <td>19.2<span class="bg_f3f3f3">月</span></td>
        <td><span class="bg_f3f3f3">$</span>1,450,000</td>
        <td>$0</td>
        <td>1000</td>
        <td>$39,000</td>
        <td>&nbsp;</td>
        <td><span class="bg_f3f3f3">已售</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">Brian</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">元朗樓上點心食品批發公司</a></td>
        <td class="bg_f3f3f3">$38,000</td>
        <td class="bg_f3f3f3">80000(存貨)</td>
        <td class="bg_f3f3f3">23.9月</td>
        <td class="bg_f3f3f3">$988,000</td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">800</td>
        <td class="bg_f3f3f3">$8,200</td>
        <td class="bg_f3f3f3">&nbsp;</td>
        <td class="bg_f3f3f3">*歡迎查詢*</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/selectok.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>HE047</td>
        <td><a href="product_detail.html">港島區大型屋苑商場教育中心</a></td>
        <td>$60,000</td>
        <td>53</td>
        <td>11<span class="bg_f3f3f3">月</span></td>
        <td><span class="bg_f3f3f3">$</span>25,000</td>
        <td>$16,053</td>
        <td>700</td>
        <td>$24,000</td>
        <td><span class="bg_f3f3f3">兼職營運</span></td>
        <td><span class="bg_f3f3f3">*歡迎查詢*</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">NS066</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">元朗婚紗店</a></td>
        <td class="bg_f3f3f3">$34,202</td>
        <td class="bg_f3f3f3">53</td>
        <td class="bg_f3f3f3">8月</td>
        <td class="bg_f3f3f3">$550</td>
        <td class="bg_f3f3f3">$35,316</td>
        <td class="bg_f3f3f3">600</td>
        <td class="bg_f3f3f3">$15,000</td>
        <td class="bg_f3f3f3">投資者</td>
        <td class="bg_f3f3f3">*歡迎查詢*</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>Daisy</td>
        <td><a href="product_detail.html">美孚影碟租賃店</a></td>
        <td>$70,000</td>
        <td>800000(存貨)</td>
        <td>6<span class="bg_f3f3f3">月</span></td>
        <td><span class="bg_f3f3f3">$</span>1,220,000</td>
        <td>$0</td>
        <td>500</td>
        <td>$11,200</td>
        <td>&nbsp;</td>
        <td><span class="bg_f3f3f3">已售</span></td>
        <td><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">Ewan</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">網上遊艇出租服務公司</a></td>
        <td class="bg_f3f3f3">$50,000</td>
        <td class="bg_f3f3f3">250000(船價)</td>
        <td class="bg_f3f3f3">10.6月</td>
        <td class="bg_f3f3f3">$780,000</td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">0</td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">&nbsp;</td>
        <td class="bg_f3f3f3">*歡迎查詢*</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
      <tr>
        <td>Lola</td>
        <td><a href="product_detail.html">葵湧持牌樓上中藥材批發商</a></td>
        <td>$25,000</td>
        <td>80000(存貨)</td>
        <td>12.7<span class="bg_f3f3f3">月</span></td>
        <td><span class="bg_f3f3f3">$</span>398,000</td>
        <td>$0</td>
        <td>600</td>
        <td>$4,500</td>
        <td>&nbsp;</td>
        <td><span class="bg_f3f3f3">*歡迎查詢*</span></td>
        <td><span class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/selectok.png" alt="" width="24" height="24" /></span></td>
      </tr>
      <tr>
        <td class="bg_f3f3f3">Aiden</td>
        <td class="bg_f3f3f3"><a href="product_detail.html">將軍澳持牌室內遊樂場</a></td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">不適用</td>
        <td class="bg_f3f3f3">0月</td>
        <td class="bg_f3f3f3">$155,000</td>
        <td class="bg_f3f3f3">$0</td>
        <td class="bg_f3f3f3">600</td>
        <td class="bg_f3f3f3">$22,300</td>
        <td class="bg_f3f3f3">&nbsp;</td>
        <td class="bg_f3f3f3">已售</td>
        <td class="bg_f3f3f3"><img src="{:SITE_PATH}Public/zh/images/select.png" alt="" width="24" height="24" /></td>
      </tr>
    </table>
    <div class="page">
      <ul>
        <li><a href="#" class="currentPage">1</a></li>
        <li><a href="#">2</a></li>
        <li><a href="#">3</a></li>
        <li><a href="#">4</a></li>
        <li><a href="#">5</a></li>
        <li><a href="#">6</a></li>
        <li><a href="#">7</a></li>
        <li><a href="#">8</a></li>
        <li><a href="#"><img src="{:SITE_PATH}Public/zh/images/arrow_right.png" /></a></li>
      </ul>
    </div>
  </div>
</div>
<!------------------------頁尾------------------------>
<div id="footer">
  <div class="fMenu">
    <ul class="first">
      <li><a href="#" class="title">關于我們</a></li>
      <li><a href="#">公司簡介</a></li>
      <li><a href="#">我們的價值觀</a></li>
      <li><a href="#">服務範圍</a></li>
      <li><a href="#">聯絡我們</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">創富須知</a></li>
      <li><a href="#">創富做老板</a></li>
      <li><a href="#">創富模式之比較</a></li>
      <li><a href="#">何謂「業務轉讓」</a></li>
      <li><a href="#">爲何選擇業務轉讓</a></li>
      <li><a href="#">常見問題</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">買家收購業務</a></li>
      <li><a href="#">買家收購程序</a></li>
      <li><a href="#">爲何選擇我們</a></li>
      <li><a href="#">買家查詢</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">賣家出讓業務</a></li>
      <li><a href="#">賣家出讓程序</a></li>
      <li><a href="#">業務估值</a></li>
      <li><a href="#">爲何選擇我們</a></li>
      <li><a href="#">賣家查詢</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">現正出讓業務</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">營商須知</a></li>
      <li><a href="#">開業資料庫</a></li>
      <li><a href="#">營業資料庫</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">相關連結</a></li>
    </ul>
    <ul>
      <li><a href="#" class="title">聯絡我們</a></li>
    </ul>
  </div>
  <div class="fCopyright">
    <div class="fCopyright_in pr"><a href="#"><img src="{:SITE_PATH}Public/zh/images/footer_logo.jpg" /></a>
      <dl class="pa fl">
        <dd>© 2005 - 2015創富易業務轉讓有限公司 天域國際投資投資成員</dd>
        <dd>版權所有 不得轉載</dd>
      </dl>
      <ul class="pa">
        <li><a href="#">版權聲明</a></li>
        <li><a href="#">免責條款</a></li>
        <li><a href="#">聯絡我們</a></li>
        <li><a href="#">個人私隱政策</a></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="{:SITE_PATH}Public/zh/js/scrolltopcontrol.js"></script>
</body>
</html>
