<div class="well sidebar-nav">
            
            <ul class="nav nav-list">
            <div class="admin-name-div"><p>Admin：<?php echo $_SESSION['loginUserName'];?></p></div><div class="logout-div"><a href="javascript:void(0);" id="logoutBtn">登出</a></div><div></div>
            <div class="change-password-div"><a href="{:U('Common/password')}">更改密碼</a></div>
              <!-- <li class="nav-header">最新消息</li>
              <li <if condition="$type eq 'news'">class="active"</if>><a href="{:U('List/index',array('type'=>'news'))}">最新消息</a></li>
              <li class="nav-header">對外合作</li>
              <li <if condition="$type eq 'tutors'">class="active"</if>><a href="{:U('Cooperation/index')}">對外合作</a></li>
              <li class="nav-header">報章報導</li>
              <li <if condition="$type eq 'tutors'">class="active"</if>><a href="{:U('Report/index')}">報章報導</a></li>
              <li class="nav-header">教學理念</li>
              <li <if condition="$type eq 'x'">class="active"</if>><a href="{:U('Idea/index',array('id'=>1))}">教學理念</a></li>
              <li class="nav-header"> Case Studies of Student</li>
              <li  <if condition="$type eq 'case'">class="active"</if>><a href="{:U('List/index',array('type'=>'case'))}"> Case Studies of Student</a></li>
              <li class="nav-header">成就及作品</li>
              <li  <if condition="$Think.get.pid eq '1'">class="active"</if>><a href="{:U('List/photos',array('type'=>'studentphotos','pid'=>1))}">學生成就</a></li>
              <li  <if condition="$Think.get.pid eq '2'">class="active"</if>><a href="{:U('List/photos',array('type'=>'studentphotos','pid'=>2))}">作品欣賞</a></li>
              <li  <if condition="$Think.get.pid eq '3'">class="active"</if>><a href="{:U('Child/index')}">孩子之聲</a></li>

              <li class="nav-header">藝術課程</li>
               <li  <if condition="$Think.get.cid eq '1'">class="active"</if>><a href="{:U('Course/index')}">藝術課程</a></li> -->
                <!--li class="nav-header">頁面管理</li>
                <li><a href="{:U('List/index/type/page')}">頁面管理</a></li>
                <li class="nav-header">橫幅管理</li>
                <li><a href="{:U('List/index/type/banner')}">橫幅管理</a></li>
                <li class="nav-header">項目管理</li>
                <li><a href="{:U('List/index/type/catagory')}">分類管理</a></li>
                <li><a href="{:U('List/index/type/project')}">項目管理</a></li-->
                <li class="nav-header">系統管理</li>
                <li><a href="{:U('List/admin')}">管理人員設定</a></li>
                <li class="nav-header">主頁管理</li>
                <li><a href="{:U('List/admin',array('type'=>'banner'))}">主頁Banner</a></li>
                <!--li><a href="{:U('List/admin',array('type'=>'page','id'=>2))}">熱門推介</a></li-->
                <!--li><a href="{:U('List/admin',array('type'=>'page','id'=>3))}">最新消息</a></li-->
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>4))}">主頁廣告</a></li>
                <li class="nav-header">關於我們 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>1))}">公司簡介</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>5))}">我們的價值觀</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>6))}">服務範圍</a></li>
                <li class="nav-header">創富須知 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>7))}">創富做老闆</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>8))}">創業模式之比較</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>9))}">何謂「業務轉讓」</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>10))}">為何選擇業務轉讓</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>11))}">常見問題</a></li>
                <li class="nav-header">買家收購業務 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>12))}">買家收購程序</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>13))}">為何選擇我們</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>14))}">買家查詢</a></li>
                <li class="nav-header">賣家出讓業務 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>15))}">賣家出讓程序</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>16))}">業務估值</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>17))}">為何選擇我們</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>18))}">賣家查詢</a></li>
                <li class="nav-header">現正出讓業務 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'category'))}">新增項目選項</a></li>
                <!--li><a href="{:U('List/admin',array('type'=>'category'))}">類型管理</a></li-->
                <li><a href="{:U('List/admin',array('type'=>'project'))}">項目管理</a></li>
                <li class="nav-header">營商須知 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>19))}">開業資料庫</a></li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>20))}">營商資料庫</a></li>
                <li class="nav-header">相關連結 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>21))}">相關連結</a></li>
                <li class="nav-header">聯絡我們 頁面管理</li>
                <li><a href="{:U('List/admin',array('type'=>'page','id'=>22))}">聯絡我們</a></li>
            </ul>
</div><!--/.well -->
<script src="__JS__/jquery-1.8.2.min.js"></script>
<script>
jQuery(function(){
   jQuery("#logoutBtn").click(function(){
		$.get('{:U('Common/logout')}',function(responseText){
		    var info=responseText['info'];
	        var status=responseText['status'];
	        var url=responseText['url'];
	        if(status==1){
	        alert(info)
	        window.location.href=url;
	        } else alert(info);
	  });
   });
});
</script>