<include file="Common:header" />
<!------------------------首頁主體部分------------------------>
<div id="wrapIndex" class="mb10">
  <div class="productTitle">
    <p id="h1-p">{$text_ruxuanzeduoyuyigexiangmu}</p><h1>{$text_xianzhengchurangyewu}</h1>
    <div class="clearboth"></div>
  </div>
  <!--------首頁主體部分-第四部分-------->
  <div class="wIndex04 b_aeaeae pr">
    <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex04_title.png" /></h1>
    <h2 class="pa"><a href="{:U('Index/query', array('lang'=>$lang))}"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a></h2>
    <h3 class="pa">
    <a href="{:U('Index/query', array('lang'=>$lang))}"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a>
    </h3>
    <div class="page">
      <ul class="page-u">
      </ul>
    </div>
    <table width="95%" border="0" cellspacing="0" cellpadding="0" id="project-table">
      <tr>
        <th scope="col">代號名稱<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">出讓項目<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">參考利潤<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">包括存貨其他<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">回本期(月)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">定價(HKD)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">供款(月)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">面積(平方尺)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">租金(月)<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">參與程度<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col">項目情況<a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/arrow_bottom.png" /></a></th>
        <th scope="col"><img src="{:SITE_PATH}Public/{$lang}/images/select.png" width="24" height="24" /></th>
      </tr>
    </table>
    <div class="page">
      <ul class="page-u">
      </ul>
    </div>
    <div class="clearboth"></div>
  </div>
</div>
<script>
function h1p_resize(){
  if(1080<$(window).width()){
    $('#h1-p').css('left',(<if condition="$lang eq 'en'">445<else/>145</if>-$(window).width()/2)+'px');
  }
  else{
    $('#h1-p').css('left',(<if condition="$lang eq 'en'">987<else/>687</if>-$(window).width())+'px');
  }
}
$(function(){
  // $text_ruxuanzeduoyuyigexiangmu responsive
  $('#h1-p').css('float','right');
  $('#h1-p').css('position','relative');
  $('#h1-p').css('top','20px');
<if condition="$lang eq 'en'">
  $('#h1-p').css('font-size','14px');
  $('#h1-p').css('top','22px');
</if>
  h1p_resize();
  $(window).resize(function(){
    h1p_resize();
  });
});
</script>
<include file="Common:footer" />