<include file="Common:header" />
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/products.css">
<link rel="stylesheet" type="text/css" href="{:SITE_PATH}Public/{$lang}/css/about.css">
<script>
function update_query(){
  var arr=document.cookie.split('; ');
  var c=0;
  var i;
  for(i=0; i<arr.length; i++){
    var kv=arr[i].split('=');
    if(kv[0].substr(0,2)=='id'){
      c++;
    }
  }
  $('#Float').find('h5').text(c);
  return c;
}
function share_submit(){
  if($('#subject').val()==''||$('#email').val()==''){
    alert('{$text_required}');
  }
  else{
    alert('{$text_fasongchenggong}');
    $('#share-form').submit();
  }
}
</script>

<style>
#share-form tr {margin:10px 0 5px 0}
#share-form input,#share-form textarea {border-radius:4px}
</style>

<div id="TB_window_2" class="top_submenus" style="position:fixed; top:25%; left:50%; width: 480px;height: 350px; margin-left:-240px;padding:0;background-color:white; display: none;z-index:2147483647">
  <div>
    <img src="{:SITE_PATH}Public/{$lang}/images/share_header.png" usemap="#map" />
    <map name="map" id="map"><area shape="rect" coords="442,0,480,32" href="javascript:(function(){js_op_close_2(false);})();" /></map>
  </div>
  <form id="share-form" action="{:U('Index/shareFormSubmit')}" method="post">
    <table>
      <tr>&nbsp;</tr>
      <tr><td style="width:100px;text-align:right;padding-right:20px">{$text_zhuti}：</td><td width="330"><input id="subject" style="width:266px" type="text" name="subject" /></td></tr>
      <tr height="15">&nbsp;</tr>
      <tr><td style="width:100px;text-align:right;padding-right:20px">{$text_dianyou}：</td><td><input id="email" style="width:266px" type="text" name="email" /></td></tr>
      <tr height="15">&nbsp;</tr>
      <tr><td style="width:100px;text-align:right;padding-right:20px">{$text_neirong}：</td><td><textarea style="height:120px" cols="5" rows="20" name="body" ></textarea></td></tr>
      <tr height="20">&nbsp;</tr>
    </table>
    <input type="hidden" name="project_url" value="http://{$_SERVER['SERVER_NAME']}{:U('Project/project_detail', array('id'=>$project['id']))}" />
    <input type="hidden" name="project_id" value="{$project.id}" />
  </form>
  <div align="center">
    <a href="javascript:share_submit();"><img src="{:SITE_PATH}Public/{$lang}/images/share_button.png" /></a>
  </div>
</div>
<div id="TB_mask_2" style="filter:alpha(opacity=30);-moz-opacity:0.5;opacity:0.5;background-color:#000000;position:fixed;left:0px;top:0px;width:100%;height:300%;z-index:2147483646;display:none" onclick="js_op_close_2(false)"></div>
<script>
function js_op_close_2(reload){
	$("#TB_mask_2").css("display",'none');
	$("#TB_window_2").css("display",'none');
}
function tb_show_2()
{
  $('#share-form input[name="subject"]').val('創富易 - <?PHP if('en'==$lang) {echo $project['title_en'];} else if('cn'==$lang) {echo $project['title_cn'];} else {echo $project['title_zh'];} ?>');
	$("#TB_mask_2").css("display",'block');
	$("#TB_window_2").css("display",'block');
}
</script>

<!------------------------現正出讓業務主體部分------------------------>
<div id="wrapIndex" class="about mb10">
  <p id="h1-p">{$text_ruxuanzeduoyuyigexiangmu}</p><div class="aboutTitle">{$text_xianzhengchurangyewu}</div>
  <div class="aboutwrap">
    <div class="aboutwrap_l b_aeaeae fl mr10">
      <div class="productsTop">
        <h1><?PHP if('en'==$lang) {echo $project['title_en'];} else if('cn'==$lang) {echo $project['title_cn'];} else {echo $project['title_zh'];} ?></h1>
        <ul>
          <li><a href="javascript:tb_show_2();"><img src="{:SITE_PATH}Public/{$lang}/images/product_share.jpg" /></a></li>
          <li><a href="javascript:(function(){if(<?PHP echo $max_tick; ?>>update_query()){document.cookie='id-<?PHP echo $project['id']; ?>=<?PHP if('en'==$lang) {echo $project['title_en'];} else if('cn'==$lang) {echo $project['title_cn'];} else {echo $project['title_zh'];} ?>';update_query();alert('添加成功');}else{alert('<?PHP echo $text_ticknomorethan.$max_tick; ?>');}})();"><img src="{:SITE_PATH}Public/{$lang}/images/product_list.jpg" /></a></li>
          <li><a href="{:U('Index/query', array('lang'=>$lang))}" onclick="if(<?PHP echo $max_tick; ?>>update_query()){document.cookie='id-<?PHP echo $project['id']; ?>=<?PHP if('en'==$lang) {echo $project['title_en'];} else if('cn'==$lang) {echo $project['title_cn'];} else {echo $project['title_zh'];} ?>';update_query();return true;}else{alert('<?PHP echo $text_ticknomorethan.$max_tick; ?>');return false;}"><img src="{:SITE_PATH}Public/{$lang}/images/product_search.jpg" /></a></li>
          <li><a href="javascript:window.print();"><img src="{:SITE_PATH}Public/{$lang}/images/product_print.jpg" /></a></li>
        </ul>
        <div class="clearboth"></div>
      </div>
      <div class="productsCon">
        <style>
          .productsCon ul,.productsCon ul li {list-style:disc inside none;}
          .productsCon ul li {margin-left:10px}
        </style>
        <dl>
          <dt class="bg">代號名稱：</dt>
          <dd class="bg"><?PHP if('en'==$lang) {echo $project['codename_en'];} else if('cn'==$lang) {echo $project['codename_cn'];} else {echo $project['codename_zh'];} ?>&nbsp;</dd>
          <dt>項目名稱：</dt>
          <dd><?PHP if('en'==$lang) {echo $project['title_en'];} else if('cn'==$lang) {echo $project['title_cn'];} else {echo $project['title_zh'];} ?>&nbsp;</dd>
          <dt class="bg">業務重點：</dt>
          <dd class="bg"><?PHP if('en'==$lang) { ?>{$project.business_focus_en|html_entity_decode=###}<?PHP } else if('cn'==$lang) { ?>{$project.business_focus_cn|html_entity_decode=###}<?PHP } else { ?>{$project.business_focus_zh|html_entity_decode=###}<?PHP } ?>&nbsp;</dd>
          <dt>牌照：</dt>
          <dd><volist name="certificates" id="vo">{$catelist[$vo]}&nbsp;&nbsp;</volist>&nbsp;</dd>
          <dt class="bg">出讓原因：</dt>
          <dd class="bg"><?PHP if('en'==$lang) {echo $project['reason_en'];} else if('cn'==$lang) {echo $project['reason_cn'];} else {echo $project['reason_zh'];} ?>&nbsp;</dd>
          <dt>定價：</dt>
          <dd>${$project.price}&nbsp;</dd>
          <dt class="bg">包括存貨/其他：</dt>
          <dd class="bg"><?PHP if('en'==$lang) {echo $project['store_en'];} else if('cn'==$lang) {echo $project['store_cn'];} else {echo $project['store_zh'];} ?>&nbsp;</dd>
          <dt>營業額(每月)</dt>
          <dd><if condition="$project['turnover'] neq '-'">$</if>{$project.turnover}&nbsp;</dd>
          <dt class="bg">參考利潤(每月)：</dt>
          <dd class="bg"><if condition="$project['profit_option'] eq 1">${$project.profit}<else/><?PHP if('en'==$lang) {echo $project['profit_text_en'];} else if('cn'==$lang) {echo $project['profit_text_cn'];} else {echo $project['profit_text_zh'];} ?></if>&nbsp;</dd>
          <dt>回本期(月)：</dt>
          <dd>{$project.recovery_period}&nbsp;</dd>
          <dt class="bg">面積(平方呎)：</dt>
          <dd class="bg">{$project.square}&nbsp;&nbsp;&nbsp;&nbsp;{$project.square_text}&nbsp;</dd>
          <dt>租金：</dt>
          <dd>${$project.rent}&nbsp;</dd>
          <dt class="bg">東主參與程度：</dt>
          <dd class="bg"><volist name="project['c_participation']" id="vo">{$catelist[$vo]}&nbsp;&nbsp;</volist>&nbsp;</dd>
          <dt>經營場所類別：</dt>
          <dd><volist name="project['c_location']" id="vo">{$catelist[$vo]}&nbsp;&nbsp;</volist>&nbsp;</dd>
          <dt class="bg">轉讓形式：</dt>
          <dd class="bg"><volist name="project['c_transfer']" id="vo">{$catelist[$vo]}&nbsp;&nbsp;</volist>&nbsp;</dd>
          <dt>地鐵沿線：</dt>
          <dd><volist name="project['c_metro']" id="vo">{$catelist[$vo]}&nbsp;&nbsp;</volist>&nbsp;</dd>
          <dt class="bg"><span class="unindent"><span class="product-detail-required">*</span>首期：</span></dt>
          <dd class="bg">${$project.downpay}&nbsp;</dd>
          <dt><span class="unindent"><span class="product-detail-required">*</span>每月供款：</span></dt>
          <dd>${$project.allowance}&nbsp;</dd>
          <dt class="bg"><span class="unindent"><span class="product-detail-required">*</span>供款期數：</span></dt>
          <dd class="bg">{$project.allowance_period}&nbsp;</dd>
          <dt>項目現況：</dt>
          <dd>{$catelist[$project['c_situation']]}&nbsp;</dd>
          <dt>&nbsp;</dt>
          <dd>&nbsp;</dd>
          <dt class="product-detail-gloss"><span class="unindent"><span class="product-detail-required">*</span>須受貸款機構條款及細則約束，貸款機構保留貸款批核之最終決定權。</span></dt>
          <dd>&nbsp;</dd>
        </dl>
      </div>
    </div>
  </div>
  <include file="Common:right" />
</div>
</div>
<div class="clear"></div>
<script>
function h1p_resize(){
  if(1080<$(window).width()){
    $('#h1-p').css('left',(<if condition="$lang eq 'en'">445<else/>145</if>-$(window).width()/2)+'px');
  }
  else{
    $('#h1-p').css('left',(<if condition="$lang eq 'en'">987<else/>687</if>-$(window).width())+'px');
  }
}
$(function(){
  $('dt.bg').each(function(){
    $(this).css('height',$(this).next().css('height'));
  });

  // $text_ruxuanzeduoyuyigexiangmu responsive
  $('#h1-p').css('float','right');
  $('#h1-p').css('position','relative');
  $('#h1-p').css('top','20px');
<if condition="$lang eq 'en'">
  $('#h1-p').css('font-size','14px');
  $('#h1-p').css('top','22px');
</if>
  h1p_resize();
  $(window).resize(function(){
    h1p_resize();
  });
});
</script>
<include file="Common:footer" />