<!------------------------頁尾------------------------>
<div id="footer">
  <div class="fMenu">
    <ul class="first">
      <li><a href="{:U('Page/about', array('lang'=>$lang))}" class="title">{$text_guanyuwomen}</a></li>
      <li><a href="{:U('Page/about', array('lang'=>$lang))}">{$text_gongsijianjie}</a></li>
      <li><a href="{:U('Page/our_values', array('lang'=>$lang))}">{$text_jiazhiguan}</a></li>
      <li><a href="{:U('Page/services', array('lang'=>$lang))}">{$text_fuwufanwei}</a></li>
      <li><a href="{:U('Page/contact', array('lang'=>$lang))}">{$text_lianluowomen}</a></li>
    </ul>
    <ul>
      <li><a href="{:U('Page/noticeUs1', array('lang'=>$lang))}" class="title">{$text_chuangfuxuzhi}</a></li>
      <li><a href="{:U('Page/noticeUs1', array('lang'=>$lang))}">{$text_chuangfuzuolaoban}</a></li>
      <li><a href="{:U('Page/noticeUs2', array('lang'=>$lang))}">{$text_chuangfumoshi}</a></li>
      <li><a href="{:U('Page/noticeUs3', array('lang'=>$lang))}">{$text_heweiyewuzhuanrang}</a></li>
      <li><a href="{:U('Page/noticeUs4', array('lang'=>$lang))}">{$text_weihexuanzeyewuzhuanrang}</a></li>
      <li><a href="{:U('Page/noticeUs5', array('lang'=>$lang))}">{$text_changjianwenti}</a></li>
    </ul>
    <ul>
      <li><a href="{:U('Page/buyers', array('lang'=>$lang))}" class="title">{$text_maijiashougouyewu}</a></li>
      <li><a href="{:U('Page/buyers', array('lang'=>$lang))}">{$text_maijiashougouchengxu}</a></li>
      <li><a href="{:U('Page/why_us', array('lang'=>$lang))}">{$text_weihexuanzewomen}</a></li>
      <li><a href="{:U('Page/buyers_query', array('lang'=>$lang))}">{$text_maijiachaxun}</a></li>
    </ul>
    <ul>
      <li><a href="{:U('Page/sellers', array('lang'=>$lang))}" class="title">{$text_maijiachurangyewu}</a></li>
      <li><a href="{:U('Page/sellers', array('lang'=>$lang))}">{$text_maijiachurangchengxu}</a></li>
      <li><a href="{:U('Page/evaluate', array('lang'=>$lang))}">{$text_yewuguzhi}</a></li>
      <li><a href="{:U('Page/sellers_why_us', array('lang'=>$lang))}">{$text_weihexuanzewomen}</a></li>
      <li><a href="{:U('Page/sellers_query', array('lang'=>$lang))}">{$text_maijiachaxun2}</a></li>
    </ul>
    <ul>
      <li><a href="{:U('Project/index', array('lang'=>$lang))}" class="title">{$text_xianzhengchurangyewu}</a></li>
    </ul>
    <ul>
      <li><a href="{:U('Page/noticeSale1', array('lang'=>$lang))}" class="title">{$text_yingshangxuzhi}</a></li>
      <li><a href="{:U('Page/noticeSale1', array('lang'=>$lang))}">{$text_kaiyeziliaoku}</a></li>
      <li><a href="{:U('Page/noticeSale2', array('lang'=>$lang))}">{$text_yingyeziliaoku}</a></li>
    </ul>
    <ul>
      <li><a href="{:U('Page/link', array('lang'=>$lang))}" class="title">{$text_xiangguanlianjie}</a></li>
    </ul>
    <ul>
      <li><a href="{:U('Page/contact', array('lang'=>$lang))}" class="title">{$text_lianluowomen}</a></li>
    </ul>
  </div>
  <div class="fCopyright">
    <div class="fCopyright_in pr"><a href="#"><img src="{:SITE_PATH}Public/{$lang}/images/footer_logo.jpg" /></a>
      <dl class="pa fl">
        <dd>{$text_copyright}</dd>
        <dd>{$text_banquansuoyou}</dd>
      </dl>
      <ul class="pa">
        <li><a href="{:U('Page/copyright', array('lang'=>$lang))}">{$text_banquanshengming}</a></li>
        <li><a href="{:U('Page/disclaimer', array('lang'=>$lang))}">{$text_mianzetiaokuan}</a></li>
        <li><a href="{:U('Page/contact', array('lang'=>$lang))}">{$text_lianluowomen}</a></li>
        <li><a href="{:U('Page/privacy', array('lang'=>$lang))}">{$text_gerensiyinzhengce}</a></li>
      </ul>
    </div>
  </div>
</div>
<script type="text/javascript" src="{:SITE_PATH}Public/{$lang}/js/scrolltopcontrol.js"></script>
<script>
function update_query(){
  var arr=document.cookie.split('; ');
  var c=0;
  var i;
  for(i=0; i<arr.length; i++){
    var kv=arr[i].split('=');
    if(kv[0].substr(0,2)=='id'){
      c++;
    }
  }
  $('#Float').find('h5').text(c);
}
function query_click(i,id,title,all){
  var img=$('#query-img-'+i);
  if(!img.hasClass('query-selected')){
    if(!all){
      img.attr('src','Public/{$lang}/images/selectok.png').addClass('query-selected');
      document.cookie='id-'+id+'='+escape(title)+'';
    }
    else{
      var date=new Date();date.setTime(date.getTime()-10000);
      document.cookie='id-'+id+'=1; expires='+date.toGMTString();
    }
  }
  else{
    if(!all){
      img.attr('src','Public/{$lang}/images/select.png').removeClass('query-selected');
      var date=new Date();date.setTime(date.getTime()-10000);
      document.cookie='id-'+id+'=1; expires='+date.toGMTString();
    }
    else{
      document.cookie='id-'+id+'='+escape(title)+'';
    }
  }
  update_query();
}

function ajax_search_op_home(data,init){
data=eval('('+data+')');

if(true!==init){
  var mhtml='<div class="productTitle"><h1>{$text_xianzhengchurangyewu}</h1></div>';
  mhtml+='<div class="wIndex04 b_aeaeae pr"><h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex04_title.png" /></h1><h2 class="pa"><a href="index.php?c=Index&a=query&lang=<?PHP echo $lang; ?>"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a></h2><h3 class="pa"><a href="index.php?c=Index&a=query&lang=<?PHP echo $lang; ?>"><img src="{:SITE_PATH}Public/{$lang}/images/searchicon.png" /></a></h3><div class="page"><ul class="page-u"></ul></div><table width="95%" border="0" cellspacing="0" cellpadding="0" id="project-table"></table><div class="page"><ul class="page-u"></ul></div></div>';
  $('#wrapIndex').html(mhtml);
}

$('#project-table').html('');

var ths=["{$text_daihaomingcheng}","{$text_churangxiangmu}","{$text_cankaolirun}","{$text_baokuocunhuo}","{$text_huibenqi}","{$text_dingjia}","{$text_gongkuan}","{$text_mianji}","{$text_zujin}","{$text_canyuchengdu}","{$text_xiangmuqingkuang}"];
var thfs=['codename','title','profit','store','recovery_period','price','allowance','square','rent','participation','situation'];
var th_html='<tr>';
var i;
for(i=0;i<ths.length;++i){
  th_html+='<th scope="col">'+ths[i]+'<a href="javascript:ajax_submit_home(null,'+"'"+thfs[i]+"','img-"+thfs[i]+"')"+'"><img src="Public/{$lang}/images/arrow_bottom.png" id="img-'+thfs[i]+'" /></a></th>';
}
th_html+='<th scope="col"><a id="query-click-all-a" href="'+"javascript:(function(){var img=$('.query-img');if(!$('#query-img-all').hasClass('query-selected')){img.attr('src','Public/{$lang}/images/selectok.png').addClass('query-selected');}else{img.attr('src','Public/{$lang}/images/select.png').removeClass('query-selected');}update_query();})();"+'"><img class="query-img" id="query-img-all" src="Public/{$lang}/images/select.png" width="24" height="24" /></a></th></tr>';
$('#project-table').append(th_html);

for(i=0;i<data['data'].length;++i){
  var onclick_html='onclick="window.location.href='+"'{:U('Project/project_detail',array('lang'=>$lang))}&id="+data['data'][i]['id']+"'"+'"';
  var html='<tr style="cursor:pointer">';
  if(i%2==1){
    var tdclass='class="bg_f3f3f3"';
  }
  else{
    var tdclass='';
  }
  if('on'==data['data'][i]['estate_recomm']){
    html+='<td '+onclick_html+' '+tdclass+'><div style="position:relative;top:3px;display:inline-block">'+data['data'][i]['codename']+'</div><img src="Public/{$lang}/images/estate_recomm.png" class="floatright" /></td>';
  }
  else{
    html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['codename']+'</td>';
  }
  html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['title']+'</td>';
  if(1==data['data'][i]['profit_option']){
    html+='<td '+onclick_html+' '+tdclass+'>$'+data['data'][i]['profit']+'</td>';
  }
  else{
    html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['profit_text']+'</td>';
  }
  html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['store']+'</td>';
  html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['recovery_period']+'{$text_month}</td>';
  html+='<td '+onclick_html+' '+tdclass+'>$'+data['data'][i]['price']+'</td>';
  html+='<td '+onclick_html+' '+tdclass+'>$'+data['data'][i]['allowance']+'</td>';
  html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['square']+'</td>';
  html+='<td '+onclick_html+' '+tdclass+'>$'+data['data'][i]['rent']+'</td>';
  html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['participation']+'</td>';
  html+='<td '+onclick_html+' '+tdclass+'>'+data['data'][i]['situation']+'</td>';
  html+='<td '+tdclass+'><a href="'+"javascript:query_click("+i+","+data['data'][i]['id']+",'"+data['data'][i]['title']+"',false);"+'"><img class="query-img" id="query-img-'+i+'" src="Public/{$lang}/images/select.png" width="24" height="24" /></a></td>';
  $('#query-click-all-a').attr('href', $('#query-click-all-a').attr('href')+"query_click("+i+","+data['data'][i]['id']+",'"+data['data'][i]['title']+"',true);");
  html+='</tr>';
  $('#project-table').append(html);
}

$('.page-u').html('');
for(i=0;i<data['numpages'];++i){
  var pagei=i+1;
  if(pagei==data['p']){
    $('.page-u').append('<li><a href="javascript:void(0)" class="page-index currentPage">'+pagei+'</a></li>');
  }
  else{
    $('.page-u').append('<li><a href="javascript:void(0)" class="page-index">'+pagei+'</a></li>');
  }
}
$('.page-u').append('<li><a href="javascript:void(0)" class="arrow-right-a"><img src="Public/{$lang}/images/arrow_right.png" /></a></li>');

$('.page-index').each(function(){
  var page=parseInt($(this).text());
  if(!$(this).hasClass('currentPage')){
    $(this).click(function(){
      $('#search-form').ajaxSubmit({
        url:"index.php?m=Home&c=Index&a=AjaxSearch&type=project&nr=18&visible=1&p="+page+"&lang={$lang}",
        success:function(data){
          ajax_search_op_home(data,false);
        },
        error:function(xhr){
          alert('{$text_chaxunshibai}');
        }
      });
    });
  }
});
if(data['p']<data['numpages']){
  $('.arrow-right-a').click(function(){
    var page=parseInt(data['p'])+1;
    $('#search-form').ajaxSubmit({
      url:"index.php?m=Home&c=Index&a=AjaxSearch&type=project&nr=18&visible=1&p="+page+"&lang={$lang}",
      success:function(data){
        ajax_search_op_home(data,false);
      },
      error:function(xhr){
        alert('{$text_chaxunshibai}');
      }
    });
  });
}
}

function ajax_submit_home(p,o,spanid,init,cate,hot){
  var _url="index.php?m=Home&c=Index&a=AjaxSearch&type=project&nr=18&visible=1&cate="+cate+"&hot="+hot+"&lang={$lang}";
  if(null!==p){
    $('#curpage').val(p);
  }
  else{
    $('#curpage').val(1);
  }
  if(null!=o){
    if($('#order').val()==o && $('#sort').val()=='ASC'){
      $('#sort').val('DESC');
      $('#'+spanid).attr('src','Public/{$lang}/images/arrow_bottom.png');
    }
    else{
      $('#sort').val('ASC');
      $('#project-table th>a>img').attr('src','Public/{$lang}/images/arrow_bottom.png');
      $('#'+spanid).attr('src','Public/{$lang}/images/arrow_up.png');
    }
    $('#order').val(o);
  }
  $('#search-form').ajaxSubmit({
    url:_url,
    //dataType:'json',
    success:function(data){
      ajax_search_op_home(data,init);
    },
    error:function(xhr){
      alert('{$text_chaxunshibai}');
    }
  });
}

var hotlist_sliding=true;
function hotlist_slide(){
  var u=$('.u-div>ul');
  var cy=parseInt(u.css('top'));
  var li_1st=$('.u-div>ul li:first-child');
  var li_h=parseInt(li_1st.css('height'))+10;//parseInt(li_1st.css('height'))+parseInt(li_1st.css('border-width'))+parseInt(li_1st.css('padding-bottom'));
  cy--;
  if(-li_h==cy){
    li_1st.appendTo(u);
    cy=0;
  }
  u.css('top',cy+'px');
  if(hotlist_sliding){
    setTimeout('hotlist_slide()',20);
  }
}

$(function(){
  update_query();

  // Banner css
  var banum=$('#playBox .smalltitle ul li').length;
  $('#playBox .smalltitle ul').css('margin-left',((250-20*banum)/2)+'px');

  // Hot list sliding
  setTimeout('hotlist_slide()',20);
  $('.u-div>ul').mouseover(function(){
    hotlist_sliding=false;
  });
  $('.u-div>ul').mouseleave(function(){
    hotlist_sliding=true;
    setTimeout('hotlist_slide()',20);
  });

  ajax_submit_home(null,null,null,true);
  $('#search-submit').click(function(){
    ajax_submit_home(null,null,null);
  });

  $('#Float').css('cursor', 'pointer').click(function(){
    window.location.href="{:U('Index/query', array('lang'=>$lang))}";
  });
});
</script>
</body>
</html>
