<div class="aboutwrap_r fl">
  <div class="aboutwrap_r_hot mb10">
    <h1 class="pr"><img src="{:SITE_PATH}Public/{$lang}/images/wIndex01_03_title.png" /><a href="javascript:ajax_submit_home(null,null,null,false,'','on')" class="fs13 pa">{$text_more}</a></h1>
    <div class="u-div">
      <ul>
        <volist name="hot" id="vo">
        <li class="bb_acacac mb10"><a href="{:U('Project/project_detail',array('id'=>$vo['id'], 'lang'=>$lang))}"><?PHP if ('cn'==$lang) { echo $vo['codename_cn'].' '.$vo['title_cn']; } else if ('en'==$lang) { echo $vo['codename_en'].' '.$vo['title_en']; } else { echo $vo['codename_zh'].' '.$vo['title_zh']; } ?></a>
          <p class="mt10 mb10">{$text_dingjia}：${$vo.price}</p>
            <if condition="$vo['profit_option'] eq 1"><p class="mb8">{$text_cankaolirun}：${$vo.profit}</p><else/><?PHP if ('cn'==$lang) { if (!empty($vo['profit_text_cn'])) { ?><p class="mb8">{$vo.profit_text_cn}</p><?PHP } } else if ('en'==$lang) { if (!empty($vo['profit_text_en'])) { ?><p class="mb8">{$vo.profit_text_en}</p><?PHP } } else { if (!empty($vo['profit_text_zh'])) { ?><p class="mb8">{$vo.profit_text_zh}</p><?PHP } } ?></if>
        </li>
        </volist>
      </ul>
    </div>
  </div>
  <div class="aboutwrap_r_ad">

    <div style="width:250px;height:180px;overflow:hidden;margin-bottom:20px">
      <ul class="slide-right" uw="250" style="padding:0;position:relative">
        <volist name="adlist" id="vo">
          <li style="float:left;width:250px;height:180px">
            <a <?PHP if (!empty($vo['href'])) { ?>href="{$vo.href}"<?PHP } ?>><img src="{:SITE_PATH}{$vo.image}" style="width:250px;height:180px" /></a>
          </li>
        </volist>
      </ul>
    </div>
    <!--a><img src="{:SITE_PATH}Public/{$lang}/images/wIndex03_03_01img.jpg" style="width:250px;height:250px;margin-bottom:20px" /></a-->
    <include file="Common:googlead" />
  </div>
</div>

<script>
function slide(obj,dir){
  var linum=obj.find("li").length;
  var width=parseInt(obj.attr("uw"));
  var w=width*linum;
  var ml=parseInt(obj.css("left"));
  ml-=ml%width;
  if(0===dir){
    if(0===ml){
      obj.find("li").last().insertBefore(obj.find("li").first());
      obj.css("left",(ml-width)+"px");
      obj.animate({left:ml+"px"},"slow");
    }
    else{
      obj.animate({left:(ml+width)+"px"},"slow");
    }
  }
  else{
    if(width-w==ml){
      obj.find("li").first().insertAfter(obj.find("li").last());
      obj.css("left",(ml+width)+"px");
      obj.animate({left:ml+"px"},"slow");
    }
    else{
      obj.animate({left:(ml-width)+"px"},"slow");
    }
  }
}
function autoplay(){
  $(".slide-right").each(function(){if($(this).find('li').length>1){slide($(this),0)}});$(".slide-left").each(function(){if($(this).find('li').length>1){slide($(this),1)}});
  setTimeout(autoplay,5E3);
}
$(function(){
  $(".slide-right").each(function(){var linum=$(this).find("li").length;var width=parseInt($(this).attr("uw"));var w=width*linum;$(this).css("width",w+"px").css("left",(width-w)+"px");});$(".slide-left").each(function(){var linum=$(this).find("li").length;var width=parseInt($(this).attr("uw"));var w=width*linum;$(this).css("width",w+"px").css("left","0px");});setTimeout(autoplay,5E3);
});
</script>
